[2016-08-08 06:11] quindimildev opened #5 "404 Error when instalation"
I have followed the how-to tutorial, but when I use TreeComponent I get an 404 error, I am not able to run my app.
I am using the last angular version. (RC4)
I have used also this config without success:

[code]

Here is the stackoverflow question with further info: [http://stackoverflow.com/questions/38825062/ng2-tree-module-not-found-after-install-on-an-angular-2-new-app](http://stackoverflow.co

[2016-08-08 11:58] quindimildev commented on #5
I have a workaround modifying the classes, adding the moduleId to each component. Cause the relative path was not working.

[2016-08-13 11:23] atallahquaider opened #6 "ID and Value"
Can I use id to node not just values
because I want send data to back-end with id

thanks

[2016-08-14 07:46] rychkog commented on #5
@quindimildev, thanks for pointing me to this issue.
Hm, that's because I've implemented this with webpack in mind... Need to test this for System.js as well..

[2016-08-14 07:49] rychkog commented on #6
Hello @atallahquaider! You can use an approach with `RenamableNode`. There is an example in tutorial on this topic. Basically with this approach you'll be able to use a whole object as a value instead of just a string.

[2016-08-26 11:40] nnixaa opened #7 "Move angular to peerDependencies"
Hey Guys,

Thanks for the module.
I'm currently moving our ng2-admin (which uses this package) to angular rc.5 and one thing is blocking us from moving the tree component is that it has angular rc.4 in the **dependencies** section instead of **peerDependencies**.
This causes npm to install angular rc.4 in its own folder under the tree module.
In its turn, this causes a known issue (http://stackove

[2016-09-01 00:40] hoswey commented on #7
vote+1

[2016-09-14 20:13] pgkehle opened #8 "Support for RC7"
Hi all.  Is there plans to upgrade this package to use Angular 2 RC7?

From the current documentation:

[code]

Since NgModule was introduced, directives are moved to the module, for example:

[code]

This however fails with the following error:

[code]

[2016-09-15 09:27] homofortis commented on #7
+1

[2016-09-19 13:18] xcuben opened #9 "No Directive annotation found on TreeComponent"
Hi there,

by testing the treeComponent on my angular 2 app
and following the example-instructions
i had this Error : No Directive annotation found on TreeComponent

does anyone have any idea why/how to resolve such an issue ?

Thanks

[2016-09-22 20:49] nick-wellinghoff-sp commented on #9
I get the same issue. This component is used in the ng2-admin theme and even in the theme it does not work on a fresh download.

[2016-09-22 20:49] nick-wellinghoff-sp commented on #7
+1

[2016-10-05 12:38] mprahl commented on #8
Hey @rychkog, any chance you'll upgrade this to work with Angular 2.0.0+? If so, I'd greatly appreciate it. Thanks for your help.

[2016-10-19 01:24] dyh333 opened #11 "support angular 2.0.0?"
it seems not support angular2.0.0 yet, hope it.

[2016-11-02 06:32] katsuragi545 opened #13 "'Tree' not displaying - binding error."
I've followed the instructions to install ng2-tree, but I get the following error when running my application:

[code]

I simply copy and pasted the code from the tutorial so I'm unsure why I'm getting errors. I'm using Angular 2 RC6 and I made sure to add TreeComponent inside 'declarations' within NgModule. I've also added CUSTOM_ELEMENTS_SCHEMA to my app.module.ts file. Any ideas?

[2016-11-11 06:03] Rakesh-Harsha commented on #13
Facing Exactly the same problem, can someone help in fixing it.

Can't bind to 'tree' since it isn't a known property of 'tree'. ("
    <tree [ERROR ->][tree]="tree"></tree>
    "): TreeViewComponent@1:10
'tree' is not a known element:

[2016-11-14 23:54] rychkog commented on #13
Guys, working on update to latest version of angular - should work then

[2016-11-14 23:54] rychkog commented on #11
Working on this - update is already in develop

[2016-11-15 08:54] Tommytoe commented on #13
Having the same problem.
Is this due to the project not working or is this a mistake at my side?
In what timewindow can we expect an update?

[2016-11-17 06:43] dyh333 commented on #11
it works. thanks your share. @rychkog

[2016-11-17 06:43] #11 closed

[2016-11-24 06:51] HydTechie opened #15 "Am I missing the details? Why should tree contain the node "CHILDREN", can we just make an array is children...?"
Am I missing the details? Why should tree contain the node "CHILDREN", can we just make an array is children...?

For: State has Cities (array) ; Each city has "restaurants" , again an array... display like a tree of states and cities within a State, Restaurants within a City... whats the need of "CHILDREN" node..how general is to get such API responses?
Please help!

[2016-11-29 01:48] dyh333 opened #16 "how to change the arrow icon"
hi, @rychkog . i want to change the arrow icon. and i found the source icon seems like that : folder-icon = '\25B6' in the styles folder.  so i want to know if it is a third lib? or something else? thanks.

![image](https://cloud.githubusercontent.com/assets/1221313/20693254/10a20a46-b618-11e6-80d3-4aebf2d22e9f.png)

[2016-11-29 10:19] rychkog commented on #16
For now all the styles have default encapsulation strategy - in order to easy override defaults I should disable encapsulation. It is the fastest solution I think. Will publish new version once this is ready

[2016-11-30 00:04] dyh333 commented on #16
thanks, @rychkog , i am looking for it.

[2016-11-30 10:19] #16 closed

[2016-12-02 06:02] zyj1022 opened #17 "Can't bind to 'tree' since it isn't a known property of 'tree'. (""
[code]
According to the tutorial in the readme, cannot normal use, the demoIn the code is dependent on the development kit, independence should do a simple example, it is easier to use

[2016-12-04 12:12] rychkog commented on #17
@zyj1022 I've updated tutorial and new version was released. Thanks for your suggestion regarding `demo` - will consider this

[2016-12-04 12:49] rychkog commented on #13
@Tommytoe npm should contain new version of the tree already which has version 1.0.0 due to update to newest angular

[2016-12-04 12:50] #6 closed

[2016-12-04 12:52] rychkog commented on #5
Now ng2-tree is bundled with build for system.js as well

[2016-12-04 12:52] #5 closed

[2016-12-04 13:46] rychkog commented on #15
You need to transform your structure to the one that satisfies `TreeModel` interface.
Of course I could recursively scan object and in case if one of the properties is an array then treat it as children. But what if two properties are of type array? Also it adds redundant complexity to implementation. Interface is a contract and a point of extension that client should implement in order to conform

[2016-12-04 13:49] rychkog commented on #9
New version (1.0.0) is out. It is implemented on top of angular 2.2.4

[2016-12-04 13:50] rychkog commented on #8
New version (1.0.0) is out

[2016-12-04 13:50] #8 closed

[2016-12-04 13:52] rychkog commented on #7
@nnixaa I see. Will move angular from dependencies to peerDependencies

[2016-12-12 18:36] sjdemoor opened #21 "Static Tree functionality"
Is it possible to disable the ability to edit (remove, rename, move, create) node elements?  A flag for disabling editing (either globally, and/or at a node level) would be useful.

[2016-12-13 09:55] rychkog commented on #21
@sjdemoor Agree!

[2016-12-19 12:35] daniel4thsource opened #22 "Cannot find .config/umd.bundler.js"
Hey guys!  Having trouble forking and using this repo. Can't find : .config/umd.bundler.js   Looks like it's been exclude in the gitignore file.

[2016-12-22 15:52] sadplace opened #23 "Can't import TreeModule"
Hi, i really like your tree but i install it and can't get it to work.

I follow your read me but It gives this error:
Uncaught Error: Unexpected value 'TreeModule' imported by the module 'OrganizationModule'

[2016-12-22 16:12] Taifuru commented on #21
I need this too!

[2016-12-23 08:07] midu2903 commented on #23
I get the same issue.

[2016-12-23 16:27] nicolaskaco opened #24 "The Demo doesn't work"
Hi, I'm trying to test it but the demo doesn't work.  Any idea why?

[2016-12-23 16:36] lovery commented on #22
Hi!
I ran into the same problem, when I tried to install dependencies.
I found that this file was added to git ignore in this commit b407b761ebb6bc47e7dc36a8823bae5d7b916fc
Also there was a script in package.json, which calls this file in the same commit.

I've removed the script, which calls this file and managed to keep going, but it will be nice to know what is the content of this file.

[2016-12-26 07:51] piyushgupta1 commented on #23
Same Issue

[2016-12-26 10:59] SergeyKuryatnick commented on #24
Hi!
What demo do you mean?
What error do you have?

[2016-12-26 13:13] nicolaskaco commented on #24
I downloaded this demo: https://github.com/valor-software/ng2-tree/tree/develop/demo and it is supposed to work like this: http://valor-software.com/ng2-tree/ but it doesn't.

[2016-12-26 13:35] nicolaskaco commented on #24
@SergeyKuryatnick I need an example to understand how it is supposed to work because I will need to use it on a project and this is the best treeview for Angular 2.
Thanks!!

[2016-12-26 14:10] nicolaskaco commented on #23
Does anyone have this working? I need an example ASAP!!

[2016-12-27 05:06] apriyadarshi38 opened #25 "Add custom context menu"
Hi,
is it possible to make custom context menu.
my problem scenario is that i want to add custom context menu and implement there functionality accordingly.

Can we hide root node in tree?
 I am having array of tree node while mapping it to "TreeModel" data i need to add a dummy root node in array can we hide this in tree and how?

[2016-12-27 06:18] rychkog commented on #23
@nicolaskaco, @piyushgupta1  Which version of angular do you use? I need to reproduce this in order to fix.

[2016-12-27 10:14] SergeyKuryatnick commented on #24
You should clone full git package of ng2-tree, to start the demo. Not only demo folder:)

[2016-12-27 10:18] sadplace commented on #23
hi,

i have the latest version

[2016-12-27 13:08] nicolaskaco commented on #24
@SergeyKuryatnick  I downloaded the whole giti, it downloaded as a .zip and I extracted and it still doesn't work.

[2016-12-27 17:51] #24 closed

[2016-12-28 05:54] rohitsd2 commented on #23
Hi,
I have same issue with  'TreeModule'.
I didn't found reason behind it but If you are trying with "npm install --save ng2-tree" then this issue will occur.
To resolve this issue please download the provided zip and rename it to ng2-tree and paste it into your node_modules It will resolve the issue.

[2016-12-28 11:58] piyushgupta1 commented on #23
@rychkog
 i am using Angular@2.4

[2016-12-28 15:18] nicolaskaco opened #26 "Error if I import TreeModel"
Hi, I've added this package to my project, and if I leave this line without // it destroys the whole project :(

This line destroys everything:

import { TreeModel } from 'ng2-tree';

And this is the error it produces:

severity: 'Error'
message: 'Type 'Observable<{}>' is not assignable to type 'Observable<boolean>'.
  Type '{}' is not assignable to type 'boolean'.'

If I comment the import line t

[2016-12-28 15:25] nicolaskaco commented on #26
For the error Observable to go, I have to comment the line I put before AND my file treeview.module.ts that has these imports:

import { NgModule } from '@angular/core';
import { TreeviewComponent } from './treeview.component';
import { BrowserModule } from '@angular/platform-browser';
import { TreeModule } from 'ng2-tree';

[2016-12-28 19:00] nicolaskaco commented on #23
@rohitsd2 but when I do  "npm install --save ng2-tree" has a folder named 'bundles' and if I cloned the git that folder doesn't exist.

When I do the npm install it breaks the rest of the code...

[2016-12-29 16:35] nicolaskaco commented on #13
@rychkog same problem here. Have you solved it?

[2016-12-29 18:20] nicolaskaco commented on #26
I still have that issue but now if I put the name of the html in templateUrl instead of the html code I get the following:

Here is my package.json:

[code]

[2016-12-29 18:21] nicolaskaco commented on #26
@SergeyKuryatnick Like I told you by email, here is the package.json.

[2016-12-30 11:33] lovery commented on #22
Hi,
I dug more into this problem and I realized that in package.json the script calls a file - .config/umd-bundler.js.
In the .gitignore the line is !./.config/umd.bundler.js which means that it this file .config/umd.bundler.js is added explicitly to be tracked in the repository
The files are not the same, so I guess that  @rychkog misspelled it in the .gitignore.

It will be great if he manage to

[2016-12-30 15:19] lovery commented on #22
Hi @daniel4thsource,

I've just find a way to get this file.
In case you need it you can find it from [here](https://github.com/lovery/ng2-tree/blob/master/.config/umd-bundler.js).
Those days I will send a pull request for this and a few other features.

Happy New year!

[2016-12-31 17:35] rychkog commented on #26
@nicolaskaco Good evening (in my case at least :) )
I've prepared separate demo-project which you can run. Tree works in there, please have a look at this project. I don't fully understand (for now at least) the reason why tree in your project doesn't work but it might be because of dependencies.

Link to demo project

1) npm i
2) npm i -g angular-cli
3) ng serve

https://github.com/rychkog/ng2-tr

[2016-12-31 17:38] rychkog commented on #26
Though I've build demo around webpack and in you case it seems you use system js for loading your project...

[2016-12-31 17:52] rychkog commented on #23
@rohitsd2, @nicolaskaco, @piyushgupta1, @sadplace, @midu2903
Guys all of you have your build environment. I've built demo project and put there ng2-tree with deps updated. Tree in there does work. If it still doesn't in your case than I need more info on how to reproduce this issue.

At the bottom of my comment in this issue (https://github.com/valor-software/ng2-tree/issues/26) (which is essentia

[2016-12-31 18:12] rychkog commented on #22
@daniel4thsource, @lovery I've added this file - sorry for this - didn't pay attention that it was not included in commit :(

[2016-12-31 18:12] rychkog commented on #22
@lovery Looking forward for PRs! :)

[2016-12-31 18:18] rychkog commented on #26
@nicolaskaco Also please have a look at related issue https://github.com/valor-software/ng2-tree/issues/23
In there I've asked guys about simple project that reproduces the issue if demo project that I've built won't help.
I hope together we will solve this!

[2016-12-31 18:19] #15 closed

[2016-12-31 18:25] #9 closed

[2016-12-31 18:27] #22 closed

[2016-12-31 19:17] rychkog commented on #7
@nnixaa, I've moved dependencies to devDependencies and module doesn't have dependencies section anymore. So it should resolve your issue I hope

[2016-12-31 19:17] #7 closed

[2017-01-03 14:47] tplessis commented on #21
+1!

[2017-01-03 19:48] lovery commented on #23
Hello,
I end up with the same error when I try to get package from a repository.
If I install the app in the normal way - with `npm install ng2-tree` there is no problems,
but when I try to install it from the repository the error is there.

[2017-01-03 20:00] lovery opened #29 "Install from github repository"
Hello,
I'm trying to install the package from a repository and notice that in .gitignore there are compiling files such as: .js, .d.ts and bundles which are ignored from the repository.
Notice also that there is a .npmignore which ignores the all *.ts and the *.js.map in the root directory.
Is there a way to install the package for a repository without dealing with ...ignore files?

[2017-01-03 20:25] lovery commented on #23
I've found out what was my problem - I was missing the *.metadata.json files, when installing from a repository.

[2017-01-03 23:19] rychkog commented on #29
@lovery If I exclude them from .gitignore then those files that are build artifacts, might be accidentally committed to the repo. You can use alpha version `1.0.1-alpha.1` for now. It has the latest changes.

According .npmignore - I've included those files in there cause don't want them to be published in npm.

If you have an idea on how to deal with this - please, let me know.

[2017-01-03 23:20] rychkog commented on #23
@lovery *.metadata.json files were missing in ng2-tree build?

[2017-01-04 07:12] lovery commented on #23
Yes, but it was my fault. I was trying to install the package from my github repository and forget to add those files.

[2017-01-04 13:47] rychkog commented on #23
@lovery Thanks for collaboration!

[2017-01-04 13:50] rychkog commented on #25
@apriyadarshi38 For now it is impossible to do both: custom context menu and hidden root.
Currently I am working on a custom context menu.

[2017-01-05 11:06] rychkog commented on #25
@apriyadarshi38 Can you give an example of customized context menu and couple use cases?

[2017-01-05 11:42] danielcooke1996 opened #33 "Error on importing Tree Module - possible duplicate"
Hi there,

I'm receiving a problem with angular upon compiling with the Tree Module import.

The error reads:

TypeError: ctorParameters.map is not a function
	    etc. etc.

This is because when the angular compiler evaluates the ctorParamaters for TreeService(), it is defined as an anonymous function - see attached image

![image](https://cloud.githubusercontent.com/assets/22816887/21679400/ca97

[2017-01-05 12:17] rychkog commented on #33
@danielcooke1996 Which version of the tree do you have installed in your node_modules?

[2017-01-05 12:18] danielcooke1996 commented on #33
Okay so its much too early in the morning for this - I had identified the problem unkowningly.

The problem arose from an incompatible version of angular that is necessary for my project. I fixed it by specifying version 1.0.0 in package.json

This issue can be closed.

[2017-01-05 12:18] #33 closed

[2017-01-06 04:57] apriyadarshi38 commented on #25
customized context menu means
we can give different context menu for different node in tree.
while right click on top this will show different menu and for different children it shows different

[2017-01-11 19:40] dandee opened #35 "Initialization fails with async tree content."
With asynchronous tree content population, [tree] bound field is initially uninitialized before data comes back from backend. This causes exception in TreeInternalComponent.ngOnInit:

[code]

Current workaround is to initialize bound field with some dummy `TreeModel` object - but it's ugly (well, it can be used as poor mans "Loading" indicator but you can better than that ;) ).
The latter reminds

[2017-01-12 01:26] netsesame2 opened #36 "ngc can't build with npm installed version"
I've an ionic2 project, and install your ng2-tree by npm install, all will be fine without ngc. If turn on using ngc, build will fail throw following:

can't resolve module ./draggable/node-draggable.directive from E:/My Projects/App/ErrorBookApp2/node_modules
/ng2-tree/src/tree.module.d.ts

The reason is the tree.module.d.ts file has been trimed all import parts as:
export declare class TreeModul

[2017-01-12 11:08] rychkog commented on #35
@dandee thanks! Currently I am working on tests - cause it is hard to make changes without them - once finished - will fix this :)

[2017-01-12 11:09] rychkog commented on #36
@netsesame2 Please, provide ng2-tree version that you use (also angular version and typescript version)

[2017-01-12 11:31] netsesame2 commented on #36
ng2-tree: version: '2.0.0-alpha.0'
angular version: @angular/core@2.2.1
typescript version: 2.0.9

[2017-01-12 11:35] rychkog commented on #36
@netsesame2 have you tried latest stable angular? Cause ng2-tree of this version was built with angular 2.4.1

[2017-01-12 11:53] netsesame2 commented on #36
Oh, sounds right. The angular I use is an embedded version in Ionic2. So, to say, I can't try it's latest version. Maybe it is the bug lived in the old version, no idea.

And, another question, by the way. I tried your tree this day, and found that no way to call it's internal API, such as expand, collapse, etc. It is not convenient when I want to apply it on mobile App. In addition, it will be mo

[2017-01-12 14:28] rychkog commented on #36
@netsesame2 according icons customizations - there is a PR from @lovery (also awaiting tests that I need to finish before merging). If you want to override some styles than you can do it in version '2.0.0-alpha.0' cause styles in there distributed as separate file. If it won't help then we have a bug :)

Also according API that will allow to collapse, expand tree etc - could you create an issue fo

[2017-01-12 14:57] netsesame2 commented on #36
Sorry for not find any css file in the git version. Did  you mean the demo page?

As on mobile app, no mouse  and keyboard there, so need some way to expand, collapse and drag the node by finger. So said API, is the scene where can finish the job well, that's it.

[2017-01-12 18:43] sjdemoor commented on #21
👍  Thanks for turning this so quickly!

[2017-01-13 08:09] rychkog opened #37 "Implement API for folding, expanding, dragging node etc."

[2017-01-13 08:11] rychkog commented on #36
@netsesame2
Here is the css - https://github.com/valor-software/ng2-tree/blob/develop/src/styles.css

And here is the separate demo project (created via angular-cli). Css file included there in here
https://github.com/rychkog/ng2-tree-demo/blob/master/angular-cli.json#L22

I understand your issue with mobile devices - will add this to ng2-tree todo (https://github.com/valor-software/ng2-tree/issue

[2017-01-17 14:27] pablanco opened #38 "Tree animation"
Hi @rychkog! I was able to install the component in my project, I can see the demo tree and capture click events over the items.

![captura de pantalla de 2017-01-17 11-24-17](https://cloud.githubusercontent.com/assets/3788239/22024101/9703bc32-dca7-11e6-9440-7d195a8a9668.png)

The thing is that I can not close or open the structure like the [demo](http://valor-software.com/ng2-tree/) do. I'm not

[2017-01-18 09:55] rychkog commented on #38
@pablanco I've extracted styles into separate file and now they should be included in your html or by your build tool (documentation available is not up to date with 2.0.0-alpha.0)

Please, have a look at this project which is built with angular-cli
https://github.com/rychkog/ng2-tree-demo
Especially at the place where styles are included https://github.com/rychkog/ng2-tree-demo/blob/master/angula

[2017-01-18 16:23] pablanco commented on #38
@rychkog I have the styles included already and still not working, this may be not the problem ...

[2017-01-19 08:17] bocao9107 commented on #38
I have the same problem

[2017-01-19 10:02] rychkog commented on #38
@pablanco @bocao9107 I've updated this demo repo (https://github.com/rychkog/ng2-tree-demo) to the angular 2.4.3 and angular-cli 1.0.0-beta.25.5. Cannot reproduce issue in there - tree works.

In order to resolve your issue I need a way to reproduce it. Can you give me "Hello world!" project where this issue is reproducible?

[2017-01-19 20:12] kingo999 opened #39 "Initialise TreeModel with external data"
How do I initialise the Tree with some data returned from a service in the correct format (but as an object)
ie value, children hierarchy ?

Thanks,
Dave

[2017-01-19 22:10] kingo999 commented on #39
found the answer, I had an extra field in the REST returned object.

[2017-01-19 22:10] #39 closed

[2017-02-02 07:27] tusharparmar opened #40 "Show multiple parent nodes"
I am unable to do 2 things,
1)  show multiple top parent nodes, right now it is showing only one top parent node at a time.
2) add icon for each node, like i hvae admin, child user, all will have different icons.

can you help me in doing this??

[2017-02-03 09:54] tusharparmar commented on #40
did both thing by changeing its code. no need to do this now.

[2017-02-04 08:08] bocao9107 commented on #38
@rychkog @pablanco After I add style into .json, everything just start working. Thanks guys

[2017-02-06 22:22] peterennis opened #41 "Task 'build' is not in your gulpfile"
Windows 10
Download master
npm install && gulp build

I get the error above.
How do I build and run the demo so I can test this?
I could not find a simple getting started doc.

![capture004](https://cloud.githubusercontent.com/assets/140737/22668948/73025390-ec77-11e6-830d-1c4c0cf3c0d3.png)

[2017-02-07 09:45] rychkog commented on #41
@peterennis Thanks for this! In couple days will make an update for ng2-tree - this will be resolved. Though there is no developer doc for ng2-tree - you are right need to write it.

[2017-02-07 18:05] chuihinwai commented on #26
@nicolaskaco It's probably SystemJS specific, try changing
`import {TreeModel} from "ng2-tree";`
to
`import {TreeModel} from "ng2-tree/src/tree.types";`

Worked for me 😊

[2017-02-07 20:54] jycouet commented on #25
Hi,
Thank you @rychkog, your first commit about hide root seems nice :)
Can you upload it in the npm package?

On my side, I would like to disable (remove) this menu. How could I do that?

Thank you

[2017-02-08 09:02] rychkog commented on #25
@jycouet Today I'll publish new alpha version. This will be available in there. Also you can read about this feature in the [development branch doc](https://github.com/valor-software/ng2-tree/blob/develop/README.md)

[2017-02-08 09:08] rychkog commented on #40
@tusharparmar Can you tell me a bit more about multiple parents? You just want to hide a root and still having direct children visible? If so there is an upcoming update already in a develop branch

[2017-02-08 09:09] #38 closed

[2017-02-08 09:20] tusharparmar commented on #40
Yes thats what is am asking fior, so that i can have multiple parents at top lavel, currently its only one.

also if you can include events and suggestion for below in upcoming developments, that would be great:

1) add parameter for each node like "hasChild" with value true/false or 1/0 [whay required: it will allow to setup dynamic data loading for tree. if you are getting fdata from a service,

[2017-02-08 09:47] rychkog commented on #40
@tusharparmar Some of those features should come from https://github.com/valor-software/ng2-tree/pull/34 (like 3rd one)
1st feature is in develop branch and is implemented on top of the new abstraction called `Tree`
2rd one I will add to my TODO list.

[2017-02-08 10:07] tusharparmar commented on #40
thank you rychkog,

let me know if i can help you somewhere.

[2017-02-09 03:57] peterennis commented on #41
Let me know when it is ready to test. I can document my work on W10 as I try using it and create issues if I get stuck.

[2017-02-09 08:52] rychkog commented on #41
@peterennis Thanks! You can check the latest develop branch. All the changes are in there. Gulp is not used for ng2-tree building, hence there is no need to run `gulp build`. It is though used for deploying ng2-tree to github pages.
Please have a look at **scripts** section in https://github.com/valor-software/ng2-tree/blob/develop/package.json

[2017-02-09 08:53] rychkog commented on #25
@jycouet ng2-tree@2.0.0-alpha.2 is out

[2017-02-09 08:54] #21 closed

[2017-02-09 08:54] #23 closed

[2017-02-09 08:55] #29 closed

[2017-02-09 08:55] #36 closed

[2017-02-09 11:12] arooran opened #43 "Async load not working after installed the latest version"
Having a issue with async load. it throwing an exception.
![image](https://cloud.githubusercontent.com/assets/4504096/22780660/5a966b6a-eeb7-11e6-8de4-dd61ee1603c1.png)

Once i pass the static data in the ngOnlint its working as expected.  once i initialized the treemodel with settings that error is gone. but tree is not rendering.

`
 public treeViewOptions: Ng2TreeSettings = {
        rootIsVisi

[2017-02-09 12:05] rychkog commented on #43
@arooran I am on it. I will try to deliver a fix today

[2017-02-09 12:17] rychkog commented on #43
@arooran Also

`public treeViewOptions: Ng2TreeSettings = { rootIsVisible: false };`
[code]
settings in TreeModel should be of type TreeModelSettings (https://github.com/valor-software/ng2-tree#tree-1)

And Ng2TreeSettings should be passed to the tree element
https://github.com/valor-software/ng2-tree#settings

[2017-02-09 13:33] arooran commented on #43
@rychkog thanks for looking at it. I will change my code.

[2017-02-09 22:30] jycouet commented on #25
@rychkog thx :)

[2017-02-10 06:34] rychkog commented on #43
@arooran I've fixed an issue with async loading. It is available in version ng2-tree@2.0.0-alpha.3.
Thanks for noticing this!

[2017-02-10 09:43] #43 closed

[2017-02-10 11:58] rychkog commented on #35
@dandee It is fixed in version `ng2-tree@2.0.0-alpha.3`

[2017-02-10 11:58] #35 closed

[2017-02-10 16:51] nitslucky opened #45 "tree data with REST API Call"
Hi,

Is it possible to produce such kind of tree with REST API data? The first call should load all the root nodes like the image here:
![firstcall](https://cloud.githubusercontent.com/assets/23555070/22835517/5c1ddc54-efb9-11e6-98fa-742007d0050c.PNG)

And then children should be loaded with another call to REST API when i click on plus icon for example the image given below:

![getchildren](https

[2017-02-10 19:27] rychkog commented on #45
@nitslucky Hello, no currently there is no API for that. But this feature is on TODO list for the ng2-tree@2.0.0-alpha.4

[2017-02-11 15:04] eddy2enam opened #46 "css"
Hi...
i like to overide css,
when do rename... i like to make width more longer
how to do that??

thx

[2017-02-13 06:53] rychkog commented on #46
@eddy2enam Do you use AngularCLI in your project? How do you include styles in your project?

[2017-02-13 09:06] eddy2enam commented on #46
i add to to angular cli

"styles": [
        "styles.css",
        "../node_modules/ng2-tree/src/styles.css"
      ],

i try to play around with /node_modules/ng2-tree/src/styles.css
![2017-02-13-tree](https://cloud.githubusercontent.com/assets/25707662/22877083/510ad2fa-f206-11e6-9e98-b51df8426631.png)

thx

[2017-02-13 09:11] rychkog commented on #46
@eddy2enam Just try to include your styles after ng2-tree styles, like

[code]

Then in your `styles.css` you can override classes that you are interested in. In you particular case you should override `tree input.node-value` (play a bit with css  specificity if this won't be enough to get to this element)

[2017-02-13 09:16] hatemalhassani opened #48 "create custom template and display confirm before delete from tree"
how to create custom template for tree including create new folder or item?

and

how to display confirm before delete from tree?

thanks

[2017-02-13 09:22] rychkog commented on #48
Hi @hatemalhassani
1) There is no way to create a custom template but you can override styles (`node_modules/ng2-tree/styles.css`)
2) There is no way to display confirm before tree (node) removal :( . But this is a good idea and I will add this feature to the backlog

[2017-02-13 09:31] hatemalhassani commented on #48
thank you for your reply @rychkog

for custom template:  I think this feature is vrey usefull for me  because i need  to i add custom form (to add new object insead of value of string).

[2017-02-13 09:32] rychkog commented on #48
@hatemalhassani I see, so in your usecase you want to provide html as node values. Will think about it - maybe will manage to bring this to the tree as well

[2017-02-13 09:47] hatemalhassani commented on #48
in my case i use value of object "*RenamableNode*" so i need to create item with multi-value (custom template for add new item)

[2017-02-15 02:38] chuihinwai commented on #45
Is there a workaround right now? For example, have the tree "collapsed" by default, and listen to the click events on the "expand" buttons?

[2017-02-15 06:31] rychkog commented on #45
@chuihinwai It is by default expanded, but in general it should be possible to do this in that way. But we don't have `expand` events propagated.

[2017-02-15 06:54] chuihinwai commented on #45
So is there anything I can do as a workaround for now? Thanks!

[2017-02-15 08:17] rychkog commented on #45
@chuihinwai I don't see a workaround for lazy loading via current implementation

[2017-02-16 12:18] vinhphamduc opened #49 "How to get id in tree node"
Hi all,
I wan't get id of tree node and display other value for this node. How to set and get id in ng2-tree?

Thanks,

[2017-02-16 12:58] rychkog commented on #49
@vinhphamduc Have a look a this - https://github.com/valor-software/ng2-tree/issues/6
Querstion is similar to what you have

[2017-02-17 04:33] #49 closed

[2017-02-17 21:22] cleanyong opened #50 "Please kindly provide an example to load tree async"
Hi,

I tried to load tree async by using augular 2 http in constructor, but not working. Could you kindly provide an example to show how to load tree from remote?

Here is the list of things I tried:
* in constructor, the async http not working
* in ngOnInit, the async http not working
* if set value in constructor directly,  it working
So suspect that ng2-tree make a copy when in constructing the

[2017-02-20 08:05] rychkog commented on #50
@cleanyong Ok, let's see
1) Why do you need `this.sleep(10000);`? Cause it is running in main execution flow and tasks from event queue won't be executed until it is finished.
2) I need to see full version of the file in which you have this code (I need template, class fields and so on..)
3) Does structure that comes from `JSON.parse(_1child)` conform to TreeModel interface?
4) Do you have any err

[2017-02-20 09:31] vinhphamduc opened #51 "Css for selected node"
Hi guys,
I'm beginner of Angular2. I using ng2-tree in our project, and i want highlight selected node. How to implement it?
Thanks for support,

[2017-02-20 09:38] rychkog commented on #51
@vinhphamduc In your CSS you should override `.tree .node-selected` and `.tree .node-selected:after` (this one is responsible for underline in the default styles)
https://github.com/valor-software/ng2-tree/blob/master/src/styles.css#L106

[2017-02-21 03:12] cleanyong commented on #50
@rychkog Let me answer question here:
1. I removed the this.sleep() but still not working
2. Let me paste full version of my source code, what I did is clone your https://github.com/rychkog/ng2-tree-demo , and only add the http async loading in constructor.
[code]

Content of app.component.html
[code]

3. Here is the json response of api:
[code]

4. I didn't see any error in my Chrome browser

[2017-02-21 09:14] rychkog commented on #50
@cleanyong

[code]

Doesn't change `this.fonts` - it still points to the fonts not to the child. You should either:
1) Create a new field in the class and assign `_childArray` to it.
2) Reassign to existing field - `this.fonts = _childArray`

[2017-02-23 06:39] cleanyong commented on #50
It doesn't work as your 1 or 2 solutions.

If I set it directly , it works.

I suspect that angular 2 http runs in zone.js, but don't know how to let angular 2 to detect the changes.

here is the link:
[Understanding Zones and Change Detection in Ionic 2 & Angular 2](http://9to.one/zones)

[2017-02-23 06:42] rychkog commented on #50
@cleanyong Do you pass this new field according to solution #1 to the tree?

[code]

[2017-02-23 06:48] rychkog commented on #50
This works for me

[code]

Or do you need to change only part of the tree? And not to assign a new tree?

[2017-02-23 07:15] rychkog commented on #50
If you need to change some of the children - you should create a new object out of existing one with modifications applied and then reassigns those new value to the field - this is the way change detection works in angular. Have a look at https://auth0.com/blog/understanding-angular-2-change-detection/

[2017-02-23 23:06] cleanyong commented on #50
I tried the setTimeout() one, still not working.

[2017-02-26 18:53] KhizarJaved opened #52 "How to add systemjs seed?"
![ng2-tree-errors](https://cloud.githubusercontent.com/assets/16715379/23342565/cbd5abae-fc7e-11e6-880b-8f639a0d8b14.PNG)

[2017-02-27 13:47] rychkog commented on #52
@KhizarJaved I will try to create a repo with this - will notify you once it is ready

[2017-02-27 19:58] KhizarJaved commented on #52
I have fixed this issue by adding
, 'ng2-tree': "npm:ng2-tree"
,'lodash':"npm:lodash/lodash.js"

in a map object and also adding these lines

'ng2-tree': {
                main: 'index.js',
                defaultExtension: 'js'
            }
in  a packages object of system.config.js

[2017-02-27 19:58] #52 closed

[2017-02-27 19:59] KhizarJaved opened #53 "How can i disable or hide specific context menu items?"

[2017-02-28 07:30] rychkog commented on #53
@KhizarJaved Currently it is impossible to disable or hide particular context menu items. It is pain - I know. I'll work on this once `children async loading` is finished (for this to be done I need to add couple tests)

[2017-03-04 14:08] rychkog commented on #50
@cleanyong Have a look at this https://github.com/valor-software/ng2-tree#load-children-asynchronously

[2017-03-04 14:10] rychkog commented on #45
@chuihinwai, @nitslucky I've implemented async children in latest version https://www.npmjs.com/package/ng2-tree#load-children-asynchronously

Give it a try

[2017-03-04 14:22] cleanyong commented on #50
I don't know why, finally it works.

Here is the steps I did:
* Use ng new projectName         to start a brand new ng cli project
* Add ng2-tree by using npm install

Here is the working code:

[code]

Thank you very much for you help. You could close the issue now.

[2017-03-04 17:29] cleanyong opened #57 "HTML tag in TreeModel value not showing properly"
I think this issue maybe related to ng2-tree escapes html tag.

Here is what I want to do:
* get a JSON generated with backend API
* render the HTML tag in JSON response in ng2-tree

But this issue is not rendering:
[code]

[2017-03-06 07:29] rychkog commented on #57
@cleanyong I see, will have a look

[2017-03-06 13:36] #50 closed

[2017-03-06 13:36] #46 closed

[2017-03-08 01:34] cleanyong commented on #57
Tree.ts  line 305 has typo:
[code]

boolan should be boolean

[2017-03-09 11:00] vinhphamduc opened #58 "Systemjs configuration"
Hi,

I try using ng2-tree and configuration systemjs below:
'ng2-tree'                  :   'npm:ng2-tree',
'lodash'                    :   'npm:lodash'

'ng2-tree'                  :   { main: './index.js', defaultExtension: 'js' },
'lodash'                    :   { main: './index.js', defaultExtension:'js' }

or
'ng2-tree'                  :   'npm:ng2-tree',
'lodash'                    :   'npm

[2017-03-09 11:05] rychkog commented on #58
@vinhphamduc Please, have a look at https://github.com/valor-software/ng2-tree/issues/52

[2017-03-09 11:08] vinhphamduc commented on #58
@rychkog I try setting with
var map = {
        'app'                       :   './dist',
        '@angular'                  :   'npm:@angular',
        'angular-in-memory-web-api' :   'npm:angular-in-memory-web-api',
        'rxjs'                      :   'npm:rxjs',
        'ng2-tree'                  :   'npm:ng2-tree',
        'lodash'                    :   'npm:lodash/lodash.js'
    };

an

[2017-03-09 11:24] rychkog commented on #58
@vinhphamduc Does it work without ng2-tree? Cause there was a change in rxjs configuration as well as far as remember

[2017-03-09 15:09] vinhphamduc commented on #58
@rychkog Yes, it work without ng2-tree, and i use rxjs@^5.0.1

[2017-03-14 12:42] MstfTkrsln opened #61 "Collapse current node when on selected"
Hi,

I couldn't find the API function for following scenario.

How to collapse the current node in `onNodeSelected(e: NodeEvent)` event?

Thanks.

[2017-03-15 08:12] rychkog commented on #61
@MstfTkrsln There is no such an API - but it is one of the features that will be released in the next alpha version

[2017-03-15 08:14] #41 closed

[2017-03-15 08:25] andlambert opened #62 "[question/enhancement] Update node value with action outside of the tree"
Hello,

Is it possible to update a node value, without reloading the entire tree component with an action outside of the tree?

For example, I want to load a tree at start with only the first 10 node values filled, others are empty. Then, I want to fill the nodes values on user scroll.
This is mandatory in my case because the node content are filled with data with the return of an API call and the

[2017-03-15 08:27] devdcores opened #63 "Select the same node when reloading/routing to tree component"
Hi

Currently i am using ng2-tree like this.

i made two div in the page, left div have this tree structure, right side i will load component depending on selected treenode.

The issue is, when i click on treenode, right div is loaded with component. now if i reload the page, in the left div the selected treenode is not highlighted/selected. whereas in the right div is with that component.

pic: b

[2017-03-17 07:52] rychkog commented on #62
@andlambert Sorry for a late response. Will [async children loading](https://github.com/valor-software/ng2-tree#load-children-asynchronously) resolve your issue? And if it won't - let's elaborate this further

[2017-03-17 07:53] rychkog commented on #63
@devdcores I'll have a look as soon as possible. Will let you know once find something

[2017-03-20 08:25] andlambert commented on #62
Hello, Thanks for the response.
Unless I am missing something here, I think it might not solve my problems.

Indeed, what I want to do is to load children on user scroll and not all at start (even async).
Let's assume I have 3k children in my tree, I want to show the first let's say 50 on screen. On scroll, I want to load the next 50, and so on.
Loading 3k, even async, would load too much maybe us

[2017-03-20 08:30] rychkog commented on #62
@andlambert Ok, say you have a tree
A
|----B
|----C
D
|----E
|----F

On first load you want to load only __A__ with its children, then on scroll event - __D__ and its children, right?

[2017-03-20 08:36] andlambert commented on #62
That's a solution, if it is possible without reloading the entire component (if the tree is huge, to avoid to recompute all DOM).

My idea was:
1) First load all the tree, B and C filled with Data, E and F empty.
2) on scroll event, fill E and F.
But maybe your idea is better

[2017-03-20 08:57] rychkog commented on #62
@andlambert Please, let me know, whether you've managed to make it work

[2017-03-20 09:11] andlambert commented on #62
Ok I will let you know if I manage to do something nice, thanks for your time.

[2017-03-20 09:32] devdcores commented on #63
@rychkog Thanks for your reply. It would be really helpful if u find something in this regard.
In my current application i am using your tree in many pages. when we navigate from one page to other the tree is again initialized and no selected item will be there.
is there any way we can save the tree state (opened nodes, selected item). so that we can restore the state of the tree. when navigating

[2017-03-20 21:11] daniel4thsource opened #66 "Why swap? Why not reorder?"
I was wondering why you guys when for swapping instead of reordering?  Or is there a way to change this functionality to make the source node take the position of the target node and making the target node slide down one position?

[2017-03-22 00:09] Maquiavelo1408 opened #67 "Assign an id to a node"
How to make a node have an id and thus be able to identify it?

[2017-03-22 09:32] rychkog commented on #67
@Maquiavelo1408 It is already [in development](https://github.com/valor-software/ng2-tree/tree/develop#tree-1) - will be available with the nearest release.
For now, there [is a workaround](https://github.com/valor-software/ng2-tree/issues/6)

[2017-03-22 09:35] rychkog commented on #66
Hello @daniel4thsource! It is just a decision taken at the beginning. Currently, there is no option to change this behavior. But you can add *enhancement proposal* as a separate issue.

[2017-03-22 17:48] #51 closed

[2017-03-22 18:40] daniel4thsource opened #68 "Enhancement Proposal: Option to reorder instead of Swap"
I was wondering if you guys could add the functionality to make the source node take the position of the target node and making the target node slide down one position, when dragging and dropping at the same level in the tree. This functionality is already present when you drag and drop from different folders, the source node, replaces the target node's position, and the target node is moved down

[2017-03-23 22:51] Maquiavelo1408 commented on #67
Thanks for answer, i'll waiting for the release.

[2017-03-31 13:23] AlienWareSumant opened #69 "Use a different model instead of TreeModel"
I have a tree whose model is not same as defined in TreeModel (installed ng2-tree by bower). Can I use a different model to render the tree instead of the default one.

[2017-03-31 13:24] rychkog commented on #69
@AlienWareSumant you should transform your model into `TreeModel`

[2017-03-31 13:56] AlienWareSumant commented on #69
If I change the treemodel in tree.types.d.ts then that would become excluded at the time of deployment as bower will pull the initial version again. @rychkog

[2017-03-31 14:32] rychkog commented on #69
@AlienWareSumant you shouldn't change build. You just need to transform your object into the object that conforms to `TreeModel` interface (have the same structure).

[2017-04-02 16:12] ghost opened #72 "Question : Can i add a lead Node in to the tree Dynamically?"
Usecase:

I wanted to add a leaf node[Programmatic way] on a button click.

In my Application, I don't need right click on the tree to add a leaftNode. I need to add a leaf Node under particular branch, on button click.

   `public tree: TreeModel = {
        value: 'OAM',
        settings: {
            'static': true
        },
        children: [
            {
                value: 'Conf',

[2017-04-03 18:29] PMoransais opened #73 "LoadChildren Problem"
I am playing with your tree. I have several suggestions and a question

1) You provide an interface to add and delete nodes.

There is no flexibility as to the actions that are permitted. It is not possible to allow creation and       disallow delete. It is an all or nothing! This really needs to be implemented.

To make matters worse, there is no programmatic way to add or delete nodes. This capa

[2017-04-05 11:57] rychkog commented on #73
@PMoransais Let's start first with your qestion - once resolved - I will respond to your suggestions.

Please, give me steps to reproduce this behavior on [demo example](https://github.com/valor-software/ng2-tree/tree/develop/demo) (chunks of code are welcomed)

[2017-04-05 12:00] rychkog commented on #72
@Rakesh-Harsha Fair usecase, but currently you cannot do it. Will have a look how to elaborate it and onboard to the tree...

[2017-04-05 15:39] PMoransais commented on #73
@rychkog

I resolved that question but did not get a chance to post this morning. It was my fault.

After looking at the problem closely, I realized that the "Loading..." text was provided by a CSS style.
This stopped working because I modified the CSS highlighting of nodes to provide for a more classic highlight without animation, and probably messed up thinks where the loading text was never rem

[2017-04-06 05:30] Rakesh-Harsha commented on #72
Okay, Thank you.

Looking forward for the changes.

[2017-04-06 10:55] logickphp opened #75 "I is not possible to load lazy node"
I am trying to load tree from http request from rest service when the user click the node.

` public tree: TreeModel = {
    value: 'Programming languages by programming paradigm',
    settings: {
      'static': true
    },
    children: [
      {
        value: 'Unidades',
        loadChildren: (callback) => {
          this.getUnidades(callback);
        }
      }
    ]
  };

 public getUnidade

[2017-04-06 14:13] rychkog commented on #75
@logickphp From what I see in
`$raw_data = '[{ "value": "Prototype-based programming", "children": [ { "value": "C++" }, { "value": "C#", "loadChildren": "(callback) => {this.getUnidades(callback);}" } ] }]';`

`"(callback) => {this.getUnidades(callback);}" ` is a string and not a function, hence [this chunk of code](https://github.com/valor-software/ng2-tree/blob/master/src/tree.ts#L34) simply ig

[2017-04-07 09:39] logickphp commented on #75
But there is no way to pass (callback) => {this.getUnidades(callback);} via json because I am obtain parse Json error when get response from rest service.

[2017-04-07 09:42] rychkog commented on #75
@logickphp You should transform JSON received by you into proper TreeModel object with functions (if you need async loading) before feeding it to the tree

[2017-04-07 09:53] logickphp commented on #75
The idea is calling rest service when the user click over one node because the tree will have about 300.000 nodes!!!!. It is not possible to load before. I have a first node and then I want to load after this each node. It is not possible evaluate typescript code in runtime in browser...

[2017-04-07 10:02] rychkog commented on #75
@logickphp You have your `function that initiates data loading`. It requests just a tree with top level nodes. For the every top level node, you should add a loadChildren function. Then, on top level node expand, it requests its children via  `function that initiates data loading` and procedure repeats. Let's call it lazy recursion.

[2017-04-07 11:36] logickphp commented on #75
Ok, I get it !

`
public tree: TreeModel = {
    value: 'Ámbitos',
    settings: {
      'static': true
    },
    children: [
      {
        value: 'Unidades',
        loadChildren: (callback) => {
          this.getUnidades(callback, null);
        }
      }
    ]
  };

public getUnidades(callback, unidad: string) {
this.dir3Service.getUnidades(codigo_unidad).subscribe(
      unidades => {

[2017-04-07 11:38] rychkog commented on #75
@logickphp I'm glad it's working :)

[2017-04-07 12:19] logickphp commented on #75
Thank you so much.

[2017-04-10 14:11] pdhar-tibco opened #76 "Deprecated template warning when used in NG4"
Template parse warnings:
The <template> element is deprecated. Use <ng-template> instead ("node-menu *ngIf="isMenuVisible" (menuItemSelected)="onMenuItemSelected($event)"></node-menu>

      [WARNING ->]<template [ngIf]="tree.isNodeExpanded()">
        <tree-internal *ngFor="let child of tree.childrenAs"): ng:///TreeModule/TreeInternalComponent.html@25:6

[2017-04-10 14:15] pdhar-tibco commented on #76
Is there a way to use or add custom icons with tree nodes and leaves ?
Also is there way to show tree lines and branches and selectable check boxes instead of expanding triangle nodes , similar to jsTree ?

[2017-04-11 09:11] #75 closed

[2017-04-11 09:14] rychkog commented on #76
@pdhar-tibco

There is a PR for this - so this will be available in a future version.

No this is not available yet

[2017-04-11 09:14] rychkog commented on #76
Thanks for this!

[2017-04-12 15:28] lovery commented on #37
Hello @rychkog,
I manage to finish most of my other tasks and I'm thinking to make this API, but I'm not sure how to implement it.
I will think about it, but if you have an idea how this should be done it will be nice to share it :)

[2017-04-13 05:14] rychkog commented on #37
Great! :)

@lovery In order to implement this, we most probably have to expose internal model (Tree class) to the client's code. Then this exposed tree can have public API for `tree.collapse()`, `tree.expand()`. According to drag-n-drop - it is a bit more complex comparing to collapse, expand: as a first approximation it might look like `tree.moveTo(otherTree)`.

The main reason behind this is to

[2017-04-13 05:16] rychkog commented on #37
Put your thoughts in here - we'll discuss all the stuff :)

[2017-04-13 06:09] lovery commented on #37
@rychkog I agree that drag-n-drop is a bit complex. I was thinking to start with expand and collapse.

The reason I need this API is because on my page I have other elements which are connected to the tree, so I need a way to manipulate the tree from outside.

I was thinking also for a selecting a node via this API.

About the tree class I'm not sure that this is the best option, because at the mo

[2017-04-13 06:17] rychkog commented on #37
@lovery Can you elaborate this via quick pseudo code example?

Agree. Also, we can expose a special class smth like TreeController to the user that will encapsulate a tree inside itself (basically wrapper for the tree) and will provide a required interface without exposing full tree API.

Yes, in order to collapse, expand and so on we should be able to easily acquire any node from the tree
So shou

[2017-04-13 07:03] lovery commented on #37
May be something like this:
[code]
If the API is a global class we will need this find function, but it can became very slow for big trees.

[2017-04-13 07:16] rychkog commented on #37
This is a bit confusing, cause TreeModel describes configurable by user properties and is used as a *model* for Tree class. Using this approach it also will be responsible for API..

[2017-04-13 07:34] lovery commented on #37
May be it's a bit confusing.
The other approach is a find function, but there is this problem with the speed.
It has to scan the whole tree in the worst case, which is O(n) if there are n nodes.

[2017-04-13 07:53] rychkog commented on #37
@lovery What if we'll create a dictionary, where every key is a node.id and value is a node itself?
pros:
 - O(1)
 - easy to implement

cons:
- id field should be required
- additional memory needed for storing dictionary
- the dictionary should be always in sync with tree
- we need to come up where to keep the dictionary

Tradeoff in unavoidable - we can have fast but with increased memory consum

[2017-04-13 08:11] lovery commented on #37
My suggestion was to leave this decision to the user.
In fact I was planning to make this dictionary in my app, but if it is in the tree itself is also ok for me.

In fact I it is possible to searching for a node in a tree by it's parents. If the user knows all nodes to a particular node it can get the node quite fast without extra memory.

May be it is possible to implement all options and make i

[2017-04-13 14:07] lovery commented on #37
@rychkog I've just managed to make a basic collapse/expand and select of a node methods.
I've made a class TreeAPI, an attach it to TreeService, so it can be accessed from everywhere.
The api uses the TreeInternalComponent for now, because all functions I needed to call ware there.
I will create a pull request so you can easily see my changes.

If you it is ok I can continue with README and tests.

[2017-04-16 10:09] kennywk opened #79 "Allows checkbox for tree nodes"
Would be nice if there was a standard way of putting checkboxes and checked events within the tree model.

[2017-04-17 20:59] rychkog commented on #37
@lovery Sorry, that disappeared - had lots of work.

I think that getting the API via event is a bit unusual way of doing this. API is a way to control something, not an event from an interaction with a tree. But we are going in a right direction.
What if each InternalTreeComponent will have public method getTreeController, which is supposed to provide an instance of the class responsible for hand

[2017-04-18 08:14] lovery commented on #37
Hi @rychkog
I agree about getting the API via event.
About your suggestion I'm not sure that I get your idea right, please take a look at the updated PR and let me know what do you think.

I've also added two new methods for collapsing and expanding a node and change the select method to select a node only if it isn't already selected.

[2017-04-18 08:20] rychkog commented on #37
@lovery I've had a quick look - it is almost thing that I have in mind :) Will elaborate on this in the evening - have a ton of work now :)

[2017-04-18 12:26] lovery opened #80 "Load children asynchronously calls load children function more than once"
I'm trying to use asynchronous loading of children and my server is called several times.
I've investigate and find out that `childrenAsync` in `Tree` class is called more than once.
In the demo example it's called twice. When I'm using it with a request to a server, it's called 4 or 6 times.

[2017-04-18 12:29] rychkog commented on #80
@lovery Could you, please, give me a TreeModel that you are using (I need a structure - actual data can be faked)

[2017-04-20 11:03] dekenless commented on #80
I too have witnessed this. I "resolved" this by wrapping my call to my service (which makes a WEBAPI call) with setTimeout (yes, this ugly and I would consider it a hack):

[code]

[2017-04-20 14:18] mohamed-benkhalifa opened #81 "Implement search toolbar and reload button at the header of the Tree"
The component looks great but need more work, Thanks!

[2017-04-21 07:44] laoergege commented on #75
@rychkog  Thank you， Also solve my problem

[2017-04-21 15:45] laoergege opened #82 "How to know the node is expanded?"

[2017-04-24 08:54] rychkog commented on #82
@laoergege Wait a bit - this functionality is already in development, but not released yet. Probably on this week we will have a new version

[2017-04-24 09:07] tamilmca2006 commented on #58
After installing your package in my project  i am getting the template parse error. I have attached screenshot for that pls check and let me know.

for your reference see the systemjs.config.js - code
`/**
 * System configuration
 * Adjust as necessary for your application needs.
 */
(function (global) {
    System.config({
        paths: {
            // paths serve as alias
            'npm:': '

[2017-04-24 12:43] logickphp opened #83 "Update for angular 2.4"
In angular >2.4:

core.es5.js:3033 Template parse warnings:
The <template> element is deprecated. Use <ng-template> instead ("node-menu *ngIf="isMenuVisible" (menuItemSelected)="onMenuItemSelected($event)"></node-menu>

      [WARNING ->]<template [ngIf]="tree.isNodeExpanded()">
        <tree-internal *ngFor="let child of tree.childrenAs"): ng:///TreeModule/TreeInternalComponent.html@25:6

[2017-04-25 05:30] MalliswariKulala opened #84 "Can't bind to 'nodes' since it isn't a known property of 'tree-root' : Karma unit testing"
I am using angular-tree-component for my angular2 project. Facing 'Can't bind to 'nodes' since it isn't a known property of 'tree-root' error while running karma unit test cases.

import { TreeComponent, TREE_ACTIONS, KEYS, IActionMapping, TreeNode, TreeModel } from 'angular-tree-component';

I also have imported/added above line in my spec file

Could someone help?

[2017-04-26 04:58] Prasadrvs commented on #57
I am also facing same issue.. can you please help us ASAP

[2017-04-26 06:46] sovan107 commented on #79
Just looking for something like this.  **[+1 for request]**

[2017-04-27 21:03] rychkog commented on #83
@logickphp, thanks! upcoming release will fix this

[2017-04-27 21:05] rychkog commented on #84
@MalliswariKulala What is `tree-root`? And `angular-tree-component` is not from this project

[2017-04-30 10:04] #62 closed

[2017-04-30 14:03] #45 closed

[2017-04-30 14:04] #69 closed

[2017-04-30 16:41] dekenless opened #85 "Base Tree node image on bound data"
How would one go about displaying an image for the tree node based on an object set for the Value of the TreeModel?

[2017-05-01 18:02] rychkog commented on #85
@dekenless Latest development version correctly renders html if it is present in the value of the TreeModel.
So from what I see - you can create a TreeModel with an `img` as a value and it will be rendered.

You can use develop branch in your package.json or wait for the new version's release in order to take advantage of this.

[2017-05-01 18:24] dekenless commented on #85
Thanks, but If my Value is say a class with for example a name, id and an image, and implements RenamableNode what then? If in my implementation of toString() can I simply return html where I specify the image and say node text?

[2017-05-02 10:09] rychkog commented on #85
@dekenless Yes, I think if your RenamableNode's toString will return html it should be rendered correctly (but this functionality is available only in the develop branch of the ng2-tree - not released yet)

[2017-05-02 13:48] lovery commented on #80
@rychkog I've managed to create a demo of the problem. You can clone [this branch](https://github.com/IndustriaTech/ng2-tree/tree/loagin-children-server-side) and there is an example - Server tree at the bottom of the demo page.

[2017-05-02 13:54] lovery opened #87 "Unable to create an empty folder on loading"
You can see that nodes `lost+found`, `cdrom`, `dev`, `etc` should be folders but they are tags.
I think, I can fix this and create a pull request.

[2017-05-03 07:25] rychkog commented on #80
@lovery Great, thanks! Will be dealing with this today

[2017-05-03 07:40] rychkog commented on #87
It would be great!

[2017-05-03 13:51] maverikarsh commented on #13
I followed the instructions provided here [https://www.npmjs.com/package/ng2-tree#eyes-demo](url) for ng2-tree. However, I am not able to expand or collapse the tree nodes. There is no error displayed. Am I missing something.

[2017-05-03 14:37] maverikarsh opened #90 "Not able to expand or collapse nodes in ng2-tree"
I followed the instructions provided here https://www.npmjs.com/package/ng2-tree#eyes-demo for ng2-tree. However, I am not able to expand or collapse the tree nodes. There is no error displayed. I am using angular 4.0 . Am I missing something?

[2017-05-05 15:57] rychkog commented on #90
@maverikarsh Have you included css styles?

[2017-05-15 06:52] dserresa opened #94 "[innerHTML] for node-value"
Tree model don't suport value/label model for items, only works with one.
Currently, value shows with {{tree.value}} in tree-internal.component.js,  TreeInternalComponent.decorators.template. It's possible to show value with [innerHTML]="tree.value"?

This change help me to work with value/label model and i could do this at node list:

[code]

Thank you!

[2017-05-15 09:13] rychkog commented on #94
@dserresa This is already done in latest development - will release in couple days

[2017-05-15 10:10] dserresa commented on #94
When is the estimated release date?

Thanks!

[2017-05-18 16:47] rls1955 opened #95 "How To Feed TreeModel From a .json file via an HTTP.get Observable"
Great TreeModel interface. Never seen a tree with this level of capabilities!
Question: Have you or others been able to feed the TreeModel interface using an Angular2+ Observable HTTP.get on a .json file in place of the hard coded values?

I am still getting aboard with Angular 2 and so far I have not been able to feed the "TreeModel" a sample set of data after "subscribing" to my mapped JSON data

[2017-05-22 23:10] Maquiavelo1408 opened #96 "Blocking options"
Hello one question.
Is there any way to block that you can create, modify or remove the nodes?

[2017-05-23 06:29] dyh333 opened #97 "the way import lodash"
hi, @rychkog . I forked the 'chore-move-tree-to-new-angular-and-cli' branch. and found you import lodash like
![image](https://cloud.githubusercontent.com/assets/1221313/26340949/d6f11f4a-3fc3-11e7-8910-5a11bc396157.png)

but when I import this branch into another repo, which import lodash also. and run start will report some error like
![image](https://cloud.githubusercontent.com/assets/1221313/2

[2017-05-23 07:32] rychkog commented on #97
@dyh333 Hi! Here is why -
http://2ality.com/2015/12/webpack-tree-shaking.html
https://palantir.github.io/tslint/rules/import-blacklist/

These are the steps toward reducing ng2-tree module size

[2017-05-23 07:33] rychkog commented on #97
ng2-tree has custom bundle procedure, so getting module via branch might not work

[2017-05-23 07:35] rychkog commented on #96
@Maquiavelo1408 Yes, you can make them static https://github.com/valor-software/ng2-tree/tree/develop#configure-node-via-treemodelsettings

[2017-06-08 09:05] x-falcon commented on #87
just add  loadChildren:true, than ,it will be empty folder.
[code]

[2017-06-10 13:55] #80 closed

[2017-06-10 13:55] #87 closed

[2017-06-10 16:48] #97 closed

[2017-06-10 16:48] #96 closed

[2017-06-10 16:49] rychkog commented on #94
@dserresa in the latest version on npm this is already available

[2017-06-10 16:49] #94 closed

[2017-06-10 16:49] #90 closed

[2017-06-10 16:50] rychkog commented on #85
@dekenless Already released on npm - give it a try

[2017-06-10 16:50] #85 closed

[2017-06-10 16:50] rychkog commented on #83
@logickphp Done!

[2017-06-10 16:50] #83 closed

[2017-06-10 16:51] rychkog commented on #82
@laoergege There are new kind of events in the latest version of the tree - NodeExpandedEvent, NodeCollapsedEvent

[2017-06-10 16:51] #82 closed

[2017-06-10 16:51] #84 closed

[2017-06-10 16:52] rychkog commented on #76
@pdhar-tibco Fixed

[2017-06-10 16:52] #76 closed

[2017-06-10 16:53] rychkog commented on #67
@Maquiavelo1408 In the new version of the tree (check it out on npm) this is already available

[2017-06-10 16:53] #67 closed

[2017-06-10 16:54] #40 closed

[2017-06-10 16:55] rychkog commented on #57
@Prasadrvs @cleanyong This is already implemented in the latest version on npm - please, give it a try

[2017-06-10 16:56] rychkog commented on #58
@vinhphamduc Have you resolve your issue? Otherwise you can try to use latest ng2-tree published on npm

[2017-06-12 02:20] lynings opened #102 "How to collapse node at initialization？"
And how to set whether node is expanded？
Because In the initialization or call loadChildren function, when the tree is too high, this is a very bad user experience.

[2017-06-13 05:53] rychkog commented on #102
@lynings don't have this option - one possibility to do it - by using API developed in scope of https://github.com/valor-software/ng2-tree/pull/78

The other, with an ability to define in settings which node should be collapsed, is being developed.

[2017-06-17 21:22] lovery opened #103 "lodash library in new release"
@rychkog I'm getting this error for every import of lodash:
```Module '"/home/lovery/magic-workspace/js/node_modules/@types/lodash/get/index"' resolves to a non-module entity and cannot be imported using this construct.```
If I change the import from `import * as _get from 'lodash/get';` to `import * as _ from 'lodash';` the error disappear. Do you have any I idea what is this happening?

[2017-06-18 16:53] rychkog commented on #103
@lovery How can I reproduce this? I am not able on my setup... I've generated a new project via AngularCLI with latest ng2-tree (alpha.6) from npm in a package.json and it works ...

[2017-06-22 19:04] rezarr opened #104 "Not loading using systemjs.config.js"
I just installed ng2_tree:       "ng2-tree": "^2.0.0-alpha.6",

I have added ng2_tree to my system.config.js
                'ng2-tree': 'node_modules/ng2-tree',
                'moment': 'node_modules/moment/moment.js',
                'lodash': 'node_modules/lodash/index.js',
            },
            packages: {
                app: {
                    main: './main.js'
                }, 'a

[2017-06-23 08:00] rychkog commented on #104
@rezarr Yes, thanks - already looking at this. Will try to release new version today

[2017-06-23 11:41] #104 closed

[2017-06-23 11:57] #103 closed

[2017-06-23 11:58] #58 closed

[2017-06-28 00:01] greenpdx opened #107 "I want each node to be a angular4 component"
I have a usage that the value of each node it not a string, but an object. and I want to use a angular component to display that object.

In tree-internal.component.ts

       <div class="node-value"
          *ngIf="!shouldShowInputForTreeValue()"
          [class.node-selected]="isSelected"
          (click)="onNodeSelected($event)">
            <div *ngIf="tree.nodeTemplate" class="node-templat

[2017-06-28 06:50] rychkog commented on #107
@greenpdx PRs are welcomed

[2017-06-29 20:51] RedLion73 opened #108 "Build Issues with Angular 4"
Followed all instructions.  VS Code seems to recognize all imports and paths.

Getting 20 or so messages similar to this upon building.  Do the instructions omit something related to Angular 4?

ERROR in ./~/ng2-tree/src/tree.js
Module not found: Error: Can't resolve 'lodash-es/isArray' in 'c:\<confidential_project_path>\node_modules\ng2-tree\src'
 @ ./~/ng2-tree/src/tree.js 15:16-44
 @ ./~/ng2-tr

[2017-06-30 10:57] rychkog commented on #108
@RedLion73 That's true - working on the fix... It is related to the fix introduced recently for the SystemJS users

[2017-06-30 11:02] rychkog commented on #108
@RedLion73 as a temporal workaround you can do:

[code]

[2017-07-01 05:00] maysammansoury opened #109 "Add copy paste feature"
Hi my dear friend
Tanks for your awesome tree.
Would you mind adding  'copy-paste' operations to menu for paste selected node to other parents ?

[2017-07-02 13:32] #108 closed

[2017-07-02 13:48] rychkog commented on #109
Hello @maysammansoury! Thank you!

I agree that this is a useful feature and I'll put it on my todo list. But currently, I have no time, and cannot say exactly when it appears in the ng2-tree :(

[2017-07-05 16:37] RedLion73 commented on #108
Closed why?  Resolved?

[2017-07-05 18:03] rychkog commented on #108
@RedLion73 Yes, in alpha 8

[2017-07-11 01:55] motabass opened #111 "NodeRemovedEvent: positionInParent: -1 instead of former position in children-array"

[2017-07-11 07:28] rychkog commented on #111
@motabass Thanks, will look into it today

[2017-07-13 16:22] motabass commented on #111
@rychkog Hi and thanks for the quick reply. I also looked into the Issue inside your src and found that when i do
`public fireNodeRemoved(tree: Tree): void {
    this.nodeRemoved$.next(new NodeRemovedEvent(Object.assign(tree)));
  }`
instead of
`public fireNodeRemoved(tree: Tree): void {
    this.nodeRemoved$.next(new NodeRemovedEvent(tree));
  }`
it seems to work the right way and gves me former

[2017-07-13 18:34] motabass opened #113 "Feature: get TreeModel from existing Tree"

[2017-07-14 03:38] sevennights opened #114 "how to set style checkbox"

[2017-07-19 10:59] jithinjohnkaniyampoikayil commented on #23
Hi i had an **issue when trying to load the TreeModule** .  I have **solved this issue**. The problem was with the @angular/cli version . In the package.config file inside _\node_modules\ng2-tree_ change
` "devDependencies": {
    "@angular/cli": "1.1.1",
} `
to
` "devDependencies": {
    "@angular/cli": "#####",// version of your @angular/cli(**You can find it from package.config file in the root

[2017-07-19 11:00] jithinjohnkaniyampoikayil commented on #17
Hi i had an **issue when trying to load the TreeModule** .  I have **solved this issue**. The problem was with the @angular/cli version . In the package.config file inside _\node_modules\ng2-tree_ change
` "devDependencies": {
    "@angular/cli": "1.1.1",
} `
to
` "devDependencies": {
    "@angular/cli": "#####",// version of your @angular/cli(**You can find it from package.config file in the root

[2017-07-25 08:04] Pzhicong opened #115 "draggable error"
# **when i want drag the tree ,cause the error**
![_20170725160229](https://user-images.githubusercontent.com/13126996/28561918-d4f40b1a-7152-11e7-832d-08b3e221251e.png)

[2017-07-27 21:56] vaibhav-rbs commented on #73
Hi,
I am having similar issue described by some users regarding using loadChildren attribute,

we are using loadChildren as following, following code is written in form-explorer.components.ts file.
[code]

getChildren is a service defined in a diffrent file, entity-form.service.ts

[code]

by doing this I was hoping to call loadChildren everytime  I invoke the following, getChildren is never calle

[2017-07-31 11:11] museOnSite opened #116 "Webjar support"
Hi,

I created a request to make the lib available on webjar.
https://github.com/webjars/webjars/issues/1635

Regards

[2017-08-02 13:22] Mariolocko commented on #73
@vaibhav-rbs

Subscribe in the callback function:

`
loadChildren: (callback) => {
    this.ws.call('filesystem.listdir', [dir]).subscribe((res) => {
      let children = []
      for (let i = 0; i < res.length; i++) {
        let child = {};
        if (res[i].hasOwnProperty('name')) {
          child['value'] = res[i].name;
          // child['path'] = res[i].path;
          if(res[i].type === '

[2017-08-05 14:34] HajbokRobert opened #117 "Empty folder node move"
Hello!

I saw your demo and I noticed you cannot moved a folder or item into an empty folder. Is this the expected behaviour or a known bug? Do you plan to change this?

[2017-08-05 15:14] unikzforce opened #118 "Node deselect"
is it possible to deselect a currently selected item? for example clicking on blank area inside the tree?

[2017-08-12 14:24] rychkog commented on #73
@vaibhav-rbs loadChildren designed to be called only once and only by clicking on the actual node.
And as far as I understand you are trying to push children to the node as in stream right?

[2017-08-12 14:57] igasparetto commented on #63
Isn't there an option to flag an element as selected in the data?

[2017-08-13 20:50] attilabicsko commented on #117
Hi! Thanks for the lib. I'm also interested if this is the expected behaviour. As a quick workaround, I've added a placeholder item for empty folders like this:

    onNodeMoved(ev: NodeMovedEvent) {
    var placeholder = new Tree(<TreeModel>{ id: -1, value: '- EMPTY GROUP -' });
    if (ev.previousParent && ev.previousParent.children && ev.previousParent.children.length == 0) {
      ev.previousP

[2017-08-14 19:57] HajbokRobert commented on #117
Hi!

I updated the package to latest version (2.0.0-alpha.8) and it seems there is some support for empty items/folders now. I am able to move an item into an empty folder, but not a folder. Also I noticed that tree models now have an ID property, which I was hoping for when I started using this library. I hope a further release will have this feature too (adding folders to empty folders), thanks

[2017-08-23 04:34] JaviRpo opened #121 "Error in ionic 2 application"
How can use this in ionic 2 app.

I follow all steps, but I have this error

![image](https://user-images.githubusercontent.com/8562436/29599029-a5b44cf6-8792-11e7-916f-09e5f0a249ee.png)

[2017-08-23 12:16] mmbassetto commented on #39
Can u share?

[2017-08-26 11:17] mmbassetto opened #123 "Drag issue"
When i try drag a node he send a remove event, how can i dont send this event?

[2017-08-28 05:29] #37 closed

[2017-08-28 05:29] #57 closed

[2017-08-28 05:30] rychkog commented on #61
@MstfTkrsln Now you can - please, have a look at https://github.com/valor-software/ng2-tree#gun-controller

[2017-08-28 05:31] rychkog commented on #63
@devdcores @igasparetto This new API should help you with your issue
https://github.com/valor-software/ng2-tree#gun-controller

[2017-08-28 05:32] rychkog commented on #72
@Rakesh-Harsha Please, have a look at the https://github.com/valor-software/ng2-tree#gun-controller, this should help you

[2017-08-28 05:33] rychkog commented on #73
@vaibhav-rbs There is a new API that allows children reloading
https://github.com/valor-software/ng2-tree#gun-controller

[2017-08-28 05:36] rychkog commented on #81
@mohamed-benkhalifa Reloading is available via this new API - https://github.com/valor-software/ng2-tree#gun-controller. According to search bar - this is definitely will be implemented

[2017-08-28 05:37] rychkog commented on #95
@rls1955 In order to use a tree you should feed it objects that conform to TreeModel interface

[2017-08-28 05:39] rychkog commented on #111
@motabass merged and available in the new version

[2017-08-28 05:39] #111 closed

[2017-08-28 05:40] rychkog commented on #113
@motabass What is a use-case for that?
If you need to perform some kind of tree manipulations you should have a look at https://github.com/valor-software/ng2-tree#gun-controller

[2017-08-28 05:41] rychkog commented on #114
Closed as a duplicate of https://github.com/valor-software/ng2-tree/issues/79

[2017-08-28 05:41] #114 closed

[2017-08-28 05:42] rychkog commented on #115
@Pzhicong this is definitely an issue... What is your browser?

[2017-08-28 05:43] #116 closed

[2017-08-28 05:45] rychkog commented on #117
@HajbokRobert Thanks! Have a look at the new API (in order to support this API - ID prop was actually added :) )
https://github.com/valor-software/ng2-tree/issues/79

I will have a look at the issue you've posted (but cause I don't have time - cannot say how much of it this change will take)

[2017-08-28 05:46] rychkog commented on #118
@unikzforce You can do it programmatically via https://github.com/valor-software/ng2-tree#gun-controller
Will this resolve your issue?

[2017-08-28 05:48] rychkog commented on #121
@JaviRpo Usually this kind of error happens when Angular hasn't recognized a component.
Could you show me your app's NgModel definition?

[2017-08-28 05:49] rychkog commented on #123
@mmbassetto Event of a node removal gets send all the time. Just don't subscribe to this event and you won't get it

[2017-08-28 09:34] Piorunj opened #125 "draggable instead of static"
Hello,

thank you for the job on this component, very usefull.

Would it be possible to have a new option "draggable" to the nodes, so they can't be draggable if false, but we still can insert nodes from an other tree ?

Second question: is it possible to add a type to the nodes ?
So we can know for exemple from which tree the node comes from when there are several, and eventually treat it differe

[2017-08-28 11:50] mmbassetto commented on #123
I need this event  too =/

[2017-08-29 14:19] jcimoch commented on #107
Are you planning to add this functionality in a short time?

[2017-09-06 04:13] blackrek opened #126 "Can i disable expand?"
Can i disable expand behavior for a node?

[2017-09-07 07:22] TMaster opened #127 "Loading nodes using ngrx"
Hi,

First of all thanks for the control, you saved my hours of coding.

I'm considering using the ng2-tree control in my app.
My app using Angular 4.0 with ngrx.
I need to lazy load the tree, however I can not use the async loading pattern you provide in the tree.

I can't use the loadChildren functio because it requires me to provide the children, however **I have an immutable state in my store

[2017-09-10 14:43] TMaster opened #128 "Proposal - Support ngrx"
Hi,
Regarding [Issue 127 that I've posted](https://github.com/valor-software/ng2-tree/issues/127) I played a little bit with the code and now I have a working POC that supports immutable state.

Is not a complete feature, farther testing and feature closing are required, but I wanted to have your opinion about the feature, it helped me a lot.

If you choose to accept the idea, I'll be happy to upg

[2017-09-10 14:46] TMaster commented on #79
@rychkog  If you want, I'll be happy to start browsing the source code and check how to do that.

This feature will be helpful for me as well.

[2017-09-11 10:28] rychkog commented on #79
@TMaster sure, go ahead! I don't have enough time for adding new stuff these days. If you'll have any questions - feel free to ask.

[2017-09-11 12:41] TMaster opened #129 "Proposal - allow renaming through the tree-controller"
Hi,

I thought it will be really cool to add a method in the tree-controller to transit the node in to renaming state.
So now the user  can add an Edit button and the node changes it's state to **beingRenamed**.

Please checkout the [commit](https://github.com/TMaster/ng2-tree/commit/d1a19f6abdb4ca8f9a727f6fe553a901f76534cc), I think it can be really useful.

If you find it good I will propose a p

[2017-09-12 06:57] rernens opened #130 "[Question] Custom node template"
Hi

We are so far using another component to display treeviews.

The strength of this other component, compared to your's, is its ability to render custom nodes but its weakness is that it no longer supports SystemJS which is mandatory for us moving forward as our application is based on Nathan Walker Angular Seed Advanced.

Your component would perfectly fit our needs if nodes could be expanded t

[2017-09-12 10:02] bebeto84 commented on #53
Which is the current status of this feature? Will be implemented any time soon?

[2017-09-15 04:07] dgkTiqri commented on #90
I also have the same problem! i get the tree but cannot expand or collapse it..
Working with .net core + angular 2, Visual studio template , Web pack

Thanks in advance

[2017-09-15 04:08] dgkTiqri opened #131 "Cannot expand or collapse the tree"
I also have the same problem! i get the tree but cannot expand or collapse it..
Working with .net core + angular 2, Visual studio template , Web pack

I added the css as well in to a css file and refered. Still no luck

Thanks in advance

[2017-09-15 08:52] mohamed-benkhalifa commented on #81
Thanks, I noticed that the reload function is available.

[2017-09-22 04:07] aldari commented on #53
Hello, I offer to add an opportunity to hide the whole menu in settings. I think it is easier to implement. We have onSelect event and can create sidebar instead of menu. The menu item handlers broke whole ui logic.
Adding settings allow to have one package for demo on this site and for current usage in production.

[2017-09-22 10:47] mohamed-benkhalifa commented on #81
**Indication:**
Take in mind when the tree is **asyncronous**: so what should happen then ? Expand the tree and then search through it?
You should make in consideration this situation.

[2017-09-26 07:59] TMaster commented on #79
Hi,

I started working on the checkbox feature, this is what I have so far:

- In the `Ng2TreeSettings` contains another parameter **enableCheckboxes** which is *false* by default. switching this flag to *true* will  show a checkbox next to any node.
- The tree components exposes additional 2 `EventEmitters`: **nodeChecked** and **nodeUnchecked**, when checking \ unchecking node the relevant event

[2017-09-27 12:56] WilburZjh commented on #13
@maverikarsh same problem still not know how to fix it

[2017-10-02 08:36] akkumar opened #133 "Suggestion to rename TreeModule to NgTreeModule for separate namespace"
As it stands today - we use the following:

`import { TreeModule } from 'ng2-tree';`

It would be useful to have the module as NgTreeModule or something similar , so there is a (logical) namespace separation specific to the module as the name "TreeModule" seems very generic.

[2017-10-02 17:54] harigura opened #135 "Not able to hide children on the initial Page Load"
Hi,
   I am using ng2-tree library for my Angular 4 project. I am able to render the tree view but I am not able to hide the children on the initial page load. Here it how I am using the ng2-tree component:

Created a treeModel and gave it some id value and some children:

public tree: TreeModel = {
      value: 'Case',
      id: 111,
      children: [
        {
          value: 'Object-oriented p

[2017-10-04 16:51] vishals82 commented on #25
Any plan to merge custom menu changes?

[2017-10-07 12:56] rychkog commented on #25
@vishals82 There is no PR with that feature

[2017-10-07 12:57] rychkog commented on #53
@aldari Can you elaborate on this and provide some examples?

[2017-10-07 12:58] #61 closed

[2017-10-07 13:00] #63 closed

[2017-10-07 15:13] rychkog commented on #79
@TMaster Just do a PR - it will be easier for us to work on this feature. According to undetermined state - we can have 3 types of state for a tree with checkboxes - CHECKED, UNCHECKED, UNDETERMINED. That's it. Events should be emitted in a way you described + undetermined event for Parents with partially checked children.

[2017-10-07 15:13] rychkog commented on #79
@TMaster PRs will allow us to bring this feature to the master much faster

[2017-10-07 15:14] #73 closed

[2017-10-07 15:14] #72 closed

[2017-10-08 10:04] rychkog commented on #81
@dr-mohamed-benkhalifa I think it should not be taken into account. Cause async children don't exist at the time of searching. And we definitely don't want to load them all when search is performed

[2017-10-08 10:04] #95 closed

[2017-10-08 10:07] rychkog commented on #107
@jcimoch This feature belongs to "Nice to have" category. I suppose it will be implemented eventually but it is hard to say when. Though if you want to help and develop this on your own I would help you.

[2017-10-08 10:08] #113 closed

[2017-10-08 10:11] rychkog commented on #125
@Piorunj According draggable - I will think about this.

And

Can you elaborate on this a bit? - give me some use case so that I could better picture it for myself

[2017-10-08 10:12] rychkog commented on #126
@blackrek You cannot with a current version.

[2017-10-08 10:19] rychkog commented on #127
@TMaster Regarding

I totally agree

There is a concept of RenambableNode (It is described in the doc)

Tree will win having all the services backed by smth like `ngrx` (It was implemented before it is created)

I need to gather all the features suggested - group them and plan new enhancements.

[2017-10-08 10:21] rychkog commented on #127
@TMaster thanks for your help with "Checkboxes" feature. If you have any question just ping me via an email shown on my github's profile page - This way you definitely reach me.

[2017-10-08 10:23] rychkog commented on #128
@TMaster Please, do a PR - this way we can discuss all the changes and push Tree to the new version faster

[2017-10-08 10:23] #121 closed

[2017-10-08 10:25] rychkog commented on #129
@TMaster Don't be shy - send a PR :)

[2017-10-08 10:26] rychkog commented on #130
This is definitely planned - and related to https://github.com/valor-software/ng2-tree/issues/107

[2017-10-08 10:28] rychkog commented on #130
It is hard to say when I will be able to implement this feature - so if you want to bring its support to the project and participate in its development - I would gladly help you

[2017-10-08 10:32] rychkog commented on #131
@dgkTiqri Could you reproduce an issue here so that I could help you?
https://stackblitz.com/edit/angular-ud8pry

[2017-10-08 10:33] rychkog commented on #133
@akkumar Good suggestion, but stabilization of the lib has a higher priority at the moment.

[2017-10-08 10:44] rychkog commented on #135
@harigura Could you please, reproduce it here https://stackblitz.com/edit/angular ?
This way I will help you much faster

[2017-10-08 10:45] rychkog commented on #126
Related to https://github.com/valor-software/ng2-tree/issues/127

[2017-10-08 10:47] rychkog commented on #123
Ok, seems like we need to add a `source` that will allow to distinguish those two

[2017-10-08 10:48] #118 closed

[2017-10-08 10:52] rychkog commented on #13
@maverikarsh @WilburZjh @nicolaskaco
Guys, please, try to reproduce it here so that I could help
https://stackblitz.com/edit/angular

[2017-10-09 03:54] webmaxdev0110 opened #138 "Are there more options under template?"
I'm trying to make a directory with the depth of 5 and each level has different icons.
But I can only set 3 icons: node, leaf, leftMenu
How can I assign more icons?

[2017-10-10 06:43] akkumar commented on #133
@rychkog - Fair enough.

Per the convention in the ngx world, we could call it - NgxTreeModule.

And also rename the repo to ngx-tree, to be more generic.

[2017-10-10 06:44] akkumar commented on #133
Of course until that point - we can always get by with the following: ( for reference purposes).
`
import { TreeModule as NgxTreeModule } from 'ng2-tree';
`

[2017-10-10 07:13] rychkog commented on #133
@akkumar Agree - will do that once resolve existing bugs

Good suggestion

[2017-10-10 07:16] rychkog commented on #138
@webmaxdev0110 you should assign different icons for every parent of each level. I believe they should be applied recursively. If you won't have luck with that - I will try to create an example by the end of the week.

[2017-10-10 09:35] webmaxdev0110 commented on #138
[code]

[2017-10-10 12:26] the7erm opened #139 "Service example"
It'd be nice if the docs provided an example of how to use this with a service.  In particular how do you add children with their own `loadChildren` ?

[2017-10-13 04:30] duongphamit opened #142 "Get data form Service web api push tree not work"
public tree: TreeModel = {
    value: 'All list',
    children: []
  };

getList() {
    this.service.GeJson('Groups/GetParent').subscribe((res => {
      if (res) {
        res.forEach(element => {
          this.service.GeJson('Groups/getSubGroup/' + element.GroupID).subscribe((su => {
            let sub = su
            if (sub.length == 0) {
              this.tree.children.push({ value: elem

[2017-10-13 06:39] rychkog commented on #139
@the7erm Good point, agree - it should be there. Could you help me with that?

[2017-10-13 06:40] rychkog commented on #142
@duongphamit You should have a look at https://github.com/valor-software/ng2-tree#load-children-asynchronously. Please, let me know if that helped.

[2017-10-16 09:00] jineshpg opened #143 "tree: TreeModel, Children is not getting updated"
********************************************************************************
 public tree: TreeModel;

 //Adding Parent Node

   let item:any = {};
        item['value'] = this.filters.value;
        item['id']=1;
        item['label'] = this.filters.value;
        item['type'] = this.filters.type;
		 item['children']=[];

		 this.tree = item

//Adding Child Node

  public addChild(id: number

[2017-10-16 13:36] harigura commented on #135
I got this fixed. My tree was not able to load the styles from ngTree.scss file so I added it as a separate file in my assets folder. Thanks

[2017-10-16 13:36] #135 closed

[2017-10-16 13:47] harigura opened #144 "How to load bootstrap popovers when we create buttons in a tree dynamically"
Hi,
   I use ng2-tree for my Angular 4 project. I've got a scenario of making the parents of the tree have a button on the right side and on selecting them they should throw a popover. I added the buttons dynamically in my component and added an eventListener to the button. But I am not able to render the popover on them.
   This is my implementation:

this.programService.getDataElements(0).then((

[2017-10-17 06:46] Usamanawaz opened #145 "get controller of a node when it is created"
When i create a node how can i get the controller of a node in the on Created function where i am getting the NodeEvent

<tree #treeFFs
                [tree]="ffs"
                (nodeCreated)="onNodeFFSCreated($event)">
          </tree>

 public onNodeCreated(e: NodeEvent, controller): void {
   // use controller
  }
when we create a node from template by default the id is set to undefined. an

[2017-10-18 10:05] JanEggers opened #146 "no controller for root if set in ngAfterViewInit"
[code]

i cannot programmaticly expand my root node because getControllerByNodeId returns null.

that is even true if i use settimeout after setting root

[2017-10-20 19:37] atlantageek opened #147 "Extract data from tree."
Is there a function to extract data from the ng2-tree component.

[2017-10-21 02:54] JohnArrowwood opened #148 "Check for existence of loadChildren does not inspect the prototype"
If the object that implements TreeModel implements a method called loadChildren, the developer will assume that the tree will call it to fetch the children.  However, the function exists on the object prototype, not directly on the object.  As a result, the component does not recognize it.

The work-around, of course, is to set the function directly on the object, such as in the constructor.

But

[2017-10-22 03:14] JohnArrowwood opened #149 "Moving a node from one parent to another closes the source node when it is dynamic"
I have a tree that is all dynamic.  Every node has a loadChildren function.  When I drag a node from one parent node to a new parent node, the original parent node gets collapsed.  This is a usability issue.

[2017-10-22 18:39] rychkog commented on #143
@jineshpg Do you want you `this.tree.childern` property to be populated with the object added using `this.treeFFS.getControllerByNodeId(id);` ?

[2017-10-22 19:41] rychkog commented on #149
@JohnArrowwood Thanks! Fix will be available in the next release.

[2017-10-22 19:42] rychkog commented on #148
@JohnArrowwood Agree.

[2017-10-22 19:43] rychkog commented on #147
@atlantageek No there is no such API yet. Could you, please, describe your use case? Why do you need it back from a tree?

[2017-10-22 19:48] rychkog commented on #146
@JanEggers Try to initialize `this.tree` in the `ngOnInit` or in a constructor.

Seems like in your fragment you try to fetch a controller before the tree is actually initialized with a `this.root`

[code]

[2017-10-22 19:53] rychkog commented on #145
@Usamanawaz You are right - this is an issue in the design - will fix ASAP.

[2017-10-22 19:55] rychkog commented on #144
@harigura It's hard for me to picture this from your description. Could you give some sketch so that I got the issue?

[2017-10-23 16:37] JohnArrowwood opened #150 "Add modifier key state to drop event"
I need to drag and drop between multiple trees, as well as between the tree views and a detail view, and vice versa.

Ideally, I need to know if any modifier keys were being pressed when the node was dropped.  That way I can have three different actions depending on the modifier keys:  link, move, or copy.

If the browser captures that information, I request that it be added to the drop event.

[2017-10-23 16:44] JohnArrowwood opened #151 "Document / demo how to set up drag-and-drop between components outside the tree"
It is undoubtedly POSSIBLE to have an element outside the tree component, and be able to drag-and-drop a node to that other component and have it receive and act on it.

Similarly, I assume it is possible to go the other way, as well, if everything is set up correctly.

Request that an example of each of these be added to the documentation.

Thanks so much!  :)

[2017-10-24 18:16] amirhakim opened #152 "Enforce file naming restriction"
My specific case, is to enforce a custom file extension, simply using an `if` statement in the `handleCreate` with empty return is not enough as the file still get added in the view, but it is not persisted.

[2017-10-25 05:28] jineshpg commented on #143
HI Rychkog,
Thanks for reply, yes i want the same

[2017-10-25 05:50] JanEggers commented on #146
@rychkog   that code is just a simplified repro. i initialize root in the ctor with a dummy object and then fetch the real data from server.

i investigated further, the tree.rootcomponent.tree has the new data but tree.rootcomponent.controller.tree has still the old data.

![image](https://user-images.githubusercontent.com/6747376/31982386-f49bbf46-b958-11e7-9265-f407d94331de.png)

[2017-10-25 06:18] JanEggers commented on #146
@rychkog pr incoming pls have a look

[2017-10-25 18:13] JohnArrowwood commented on #25
+1 - I need the ability to define my own menu:

* Edit
* Cut
* Copy
* Paste
* Link
* Delete

I'm okay with it being the same for all nodes, but I need to be able to distinguish which menu item was selected.

If this is already doable, how is it done?  Thanks!

[2017-10-25 20:33] JohnArrowwood opened #154 "Add [context] to tree so that it can be referenced in node template"
I have constructed my tree programmatically, where on expanding a node, it pulls the children from the database via an API call.

Until I can get a custom right-click menu, I thought I would try putting some custom HTML in the node `.value` property, which pops-up on hover.  That works.

However, when I try adding `(click)="handle($event)` to my template, it won't work.  This is not surprising sin

[2017-10-26 07:19] avadhootha commented on #25
@rychkog  - This tree view is too good and I see you have added multiple features to the tree over past year. I couldn't see any other package having context menu and these many configurable options.

Perhaps you could help me with this issue of existing Context menu?

I need to have only three of the options  - create(Only New Node), edit and delete. I want to use this tree to show a schema hiera

[2017-10-26 13:22] entrodus opened #155 "feature request: canDeselect promise for validation purposes"
It would be very handy to have a method for controlling whether a currently selected node can be deselected through a promise/observable function which could be used for validation purposes.

I am currently using ng2-tree component to visualise all of my entities on the left side and display all editable properties of the selected entity on the right side of my application.

It would be great if i

[2017-10-27 00:41] JohnArrowwood commented on #154
I realized something after I posted this.  The way the "template" is rendered doesn't allow any angular directives in it, does it?  That feature isn't in the version I have installed, which is why adding `(click)=...` doesn't work.  Not sure if this feature will be needed after I get my hands on that feature.  We shall see.  :)

[2017-10-28 13:06] rychkog commented on #154
@JohnArrowwood Looking forward to your PR! :) Though, here is another [PR that is already merged](https://github.com/valor-software/ng2-tree/pull/141/files), that does smth similar. Please, check it out.

P.S. There is no doc for it yet in the README.md - we have only the code.

[2017-10-28 13:10] rychkog commented on #155
@entrodus So, you need smth like a guard, that checks asynchronously whether it is allowed to deselect a node, right?

[2017-10-28 13:16] rychkog commented on #25
@avadhootha @JohnArrowwood Menu is one of the soft spots in the current implementation - it is hardcoded for now, but definitely should be redesigned and made configurable.
I will add this for sure but cannot say when... If you want to implement it on your own or know a person who wants, please - go ahead and do it. We need to grow a community around this project.

[2017-10-28 13:19] rychkog commented on #143
@jineshpg Unfortunately it is not possible in the current implementation. Because a tree clones the initial model in order to avoid unexpected mutations. Though, maybe it might be possible to return a clone of the whole model from a root TreeController ... Will it be useful?

[2017-10-28 13:22] rychkog commented on #152
@amirhakim Could you please, provide a bit more details, perhaps with examples? Because I haven't fully got your issue - the description is very laconic.

[2017-10-28 13:27] rychkog commented on #151
@JohnArrowwood It is not that straightforward :) Cause two dragndrop target and a source should know about each other, for example here is [implementation of tree's handleDrop method](https://github.com/valor-software/ng2-tree/blob/develop/src/draggable/node-draggable.directive.ts#L72) that handles the event when a node is dropped on the other node.

[2017-10-28 13:29] rychkog commented on #150
@JohnArrowwood By modifier keys you mean: ALT, CTRL, SHIFT, etc. ?

[2017-10-28 14:03] avadhootha commented on #25
@rychkog  Thanks for the quick response.
Currently, for my use case I modified the hard coded Menu options from the source code, compiled and using the package.  Will try to work on implementing configurable options and post it here.

[2017-10-29 11:08] entrodus commented on #155
@rychkog Yes. A guard that would also not allow the selection of a new node until the deselection promise of the previous node is resolved and satisfied.

[2017-10-30 11:33] avadhootha commented on #147
@rychkog I don't know if @atlantageek use case is same as mine, but here it goes.
Suppose I built the Tree via Add NewFolder or NewTag Menu options, I would like to get the tree model with the same structure `{ value: 'Parent', Children: { value: 'child' , children: [] } }` so that I can retrieve and save my data accordingly. Currently there are event handlers through which we get the details of o

[2017-11-02 05:33] jineshpg commented on #143
@rychkog i achieved my requirement through programmatically . is there anyway to change the context Menu?

[2017-11-03 10:07] Anoop-Goudar commented on #147
Even I want to extract data from the dynamically created tree and store it in the database. Next time when I want to load the tree, I can pull the data from db which has latest updates and show it in the tree.
Any updates on extracting data from the tree ?

[2017-11-03 13:00] avadhootha commented on #147
@Anoop-Goudar This is how I did for now.
You could write a simple function of your own to transform the tree (get the reference of the tree) to the TreeModel structure (this is the form of input we give to the tree directive). I build this TreeModel whenever there is a change in the tree Structure, i.e on nodeRenamed, nodeCreated, nodeMoved, nodeDeleted events.

I will add my code once I get back

[2017-11-05 11:13] rychkog commented on #147
@Anoop-Goudar Could you, please, make a PR of your implementation? All the users will benefit from this

[2017-11-05 11:14] rychkog commented on #25
@avadhootha That would be super helpful!

[2017-11-05 11:16] rychkog commented on #143
@jineshpg There is an [issue](https://github.com/valor-software/ng2-tree/issues/25) regarding this

[2017-11-05 12:47] #149 closed

[2017-11-06 06:32] Anoop-Goudar commented on #147
@avadhootha, even I had started handling using event handlers. But it would be a great help if you add your code here.

[2017-11-06 06:53] avadhootha commented on #147
@Anoop-Goudar
Here is how I did it -
I created a directive of my own to have this tree model generated.
My Custom Directive
import {Ng2TreeSettings, Tree, TreeModel} from 'ng2-tree';

import {Component, EventEmitter, Input, Output, ViewChild} from '@angular/core';

@Component({
  selector: 'app-tree',
  templateUrl: './app-tree.component.html',
  styleUrls: ['./app-tree.component.css']
})
export c

[2017-11-06 06:59] Anoop-Goudar commented on #147
@avadhootha thank you :+1:

[2017-11-06 07:03] rajeshkdev commented on #102
"The other, with an ability to define in settings which node should be collapsed, is being developed."

@rychkog Any updated on the above comment of yours?
Is it now possible to define in settings that node should be collapsed/expanded?

[2017-11-06 07:39] avadhootha commented on #147
@rychkog @Anoop-Goudar Here is the PR request #159

I am new to PR Requests, so ignore if there are any mistakes.

[2017-11-06 12:59] JanEggers opened #160 "problem with 2.0.0-rc.1 / angualr 5"
when starting the app i get the following error after updating to 2.0.0-rc.1 and ng5:

Unexpected value 'TreeModule' imported by the module 'AppModule'. Please add a @NgModule annotation.

if i stay on ng4 i get another error on importing TreeModule saying expected version 3 but value is 4

<details>
 <summary>solved</summary>

If I change back to ng2-tree 2.0.0-alpha10 (but still update from ng 4

[2017-11-06 17:56] avadhootha commented on #25
@rychkog The above Referenced issue(#143) is not related to this issue. Perhaps you might want to link that to #147.

@vishals82 @JohnArrowwood
My code is a little messy but I got it to work to configure custom menu items. Here I am attaching the code changes.
 https://github.com/valor-software/ng2-tree/commit/fc9f1553ab148e513030c1f989a7517e6522ed80

@rychkog - I am sorry that there are travis cl

[2017-11-08 13:48] avadhootha commented on #25
Though what I wrote above works fine,  it seems to be a wrong to execute our custom function inside the code (ng2-tree). Also it causes losing the context of the component where it's being used.
So I made changes appropriately to remove the execute in the NodeMenuItem Interface. Instead I am sending a menuItemSelected event with the selected node tree and selected item in the menu. So now you can

[2017-11-09 05:18] robinmaple commented on #75
This helped tremendously as well. Good to involve this sample in documentation as a reference.

[2017-11-09 16:12] robinmaple opened #161 "Menu Customization (enhancement)"
Hi folks,

Great component, and I really enjoyed it. A quick question, is there a way to customize my menu options and labels (e.g. support for customized label and i18n for other languages)?

If it's not currently supported, please consider it as a future enhancement. Currently using it as a static tree, but wishing to utilize more functionalities as it expands.

Thanks!

[2017-11-09 22:38] jszuslik commented on #160
@JanEggers You marked it as solved but what is the resolution? I am getting the error ' importing TreeModule saying expected version 3 but value is 4' How did you resolve that?

[2017-11-10 05:32] JanEggers commented on #160
@jszuslik  no i just solved what was related to ng5 update, thats why i masked it from the issue description. you can click on solved to see the other issue i had. the issue with ngtree still remains otherwise i would have colsed this issue.

[2017-11-11 19:18] SpiraMira commented on #160
I get this too after upgrading my project to ng5 to support 2.0.0-rc1.

[2017-11-11 19:19] SpiraMira commented on #160
@jszuslik you probably get hat cause you are importing an ng5 module into an ng4 project. Got that too but now I get the OP's issue.

[2017-11-11 19:44] SpiraMira commented on #160
Just an update : my work around is to import the src tree instead of npm install. Seems like a packaging issue.

[2017-11-11 19:50] JanEggers commented on #160
@SpiraMira nice at least a workaround

[2017-11-12 10:59] rychkog commented on #161
Thasnk, @robinmaple!
We have an [issue](https://github.com/valor-software/ng2-tree/issues/25) regarding this. Agree that it should be there

[2017-11-12 11:39] rychkog commented on #160
@JanEggers @SpiraMira I'll try to reproduce and fix. So this happens only when we use ng-tree.rc-1 in a ng4 project, right?

[2017-11-12 11:56] JanEggers commented on #160
i you stay on ng4 it gives metadata error. if you update to ng5 it says missing ngmodule annotation,

[2017-11-12 14:08] rychkog commented on #102
@rajeshkdev Will be available in a next release (during the next week).

[2017-11-12 14:09] rychkog commented on #160
@JanEggers Got it

[2017-11-12 14:10] rychkog commented on #160
@JanEggers What typescript version do you have?

[2017-11-12 14:27] rychkog commented on #25
@avadhootha Thanks! Will have a look ASAP!

[2017-11-12 14:54] rajeshkdev commented on #102
@rychkog Thank you so much. That would solve my big headache. Looking forward your updates.

[2017-11-12 15:03] JanEggers commented on #160
2.3 before updateing to ng5 and 2.4.2 after as thats the minimum required version of ng5

[2017-11-12 17:04] amir2260 commented on #160
i have same problem after update to angular5, how to fix ?

[2017-11-13 22:49] jszuslik commented on #160
Update your packages one by one until it works. I did that and got it working just fine.

[2017-11-14 11:15] davayd opened #163 "Can'not import tree styles"
I've create a component station.component.ts with his station.component.css file styles and trying to import ng2-tree styles like:
1) in station.component.css

2) in station.component.ts

But none of them not working. Guide me to the right version

[2017-11-14 14:05] TMaster commented on #160
What packages did you update? the dependencies? anuglar?

[2017-11-14 18:45] Doctorr commented on #163
If your station.component.css is residing in the src/app folder then you would
@import url("../../node_modules/ng2-tree/styles.css");
This is for your css file. Would need to see your file structure to be 100% sure.

[2017-11-14 19:55] michaljabi commented on #160
I had similar problems...

1. Updated Angular to `5.0.1` form `4.4.6` and `ng2-tree` as well to version `2.0.0-rc.1`
Then got a message:

```Unexpected value 'TreeModule' imported by the module 'FolderViewModule'. Please add a @NgModule annotation.```
It is a run-time error

2. I decided to downgrade ng-tree to version `2.0.0-alpha.8` but I got a message:

```ERROR in Error: Metadata version misma

[2017-11-15 06:47] davayd commented on #163
Not working :|. I build NetCore2 + Angular4 and structure of my app looks similar like in this project https://github.com/asadsahi/AspNetCoreSpa. I tried to connect tree style into .angular-cli.json, but this method also did not work

      {
        "root": "ClientApp",
        "styles": [
          "../node_modules/ng2-tree/styles.css"
        ]
      }
    ]

[2017-11-15 15:19] SpiraMira commented on #160
@rychkog Hi - any updates on rc-1?  My "work-around" (copying the src) is obviously not optimal but that works fine with ng ^5.0.1 and related dependencies.  With typescript ~2.4.2 and or VS code typescript  2.4.2 or 2.6.1 (latest)

Also looks like we're not the only ones : see angular/material#8229 and swimlane/ngx-datatable#1104.

By the way, what is the recommended way of building your lib loca

[2017-11-17 14:09] slay22 opened #164 "Error "Please add a @NgModule annotation""
I have an Hybrid Angular App which i'm trying to upgrade and the idea it's to use already "upgraded"/"ported" components (ui-tree and ui-select are in use in the angularjs Part). I've created a new module in order to build new components (in this case using the ng-tree) to fit the design and unfortunately become the following error.

![image](https://user-images.githubusercontent.com/443027/329503

[2017-11-18 18:54] afsalcodehack opened #165 "How to load children when parent expand from web service"
How to load children when parent expand from web service . i need to call all parent first then i want to load child on expand parent instead of hard coding in tree data

[code]
 or how to manage loadChildren function from expand event

[2017-11-19 06:13] rychkog commented on #165
@afsalcodehack Async children are collapsed by default and get loaded only when you click on expand.
So all you parent should have async loaded children and it should work.

Also, there was an issue on [how to load nested async children](https://github.com/valor-software/ng2-tree/issues/75)

[2017-11-19 06:15] rychkog commented on #164
@slay22 Which version of Angular do you use?

[2017-11-19 07:31] afsalcodehack commented on #165
is there any flag like haveChildren because children will load later from server and there is chance might not have any children this case all parent show expand icon in every node

[2017-11-19 07:42] #102 closed

[2017-11-19 10:10] slay22 commented on #164
4,4.6. Sorry that I forgot it.

[2017-11-19 12:22] rychkog commented on #165
@afsalcodehack There is a function that [does exactly this](https://github.com/valor-software/ng2-tree/blob/master/src/tree.ts#L353)
It is in the [Tree class](https://github.com/valor-software/ng2-tree#tree-class)

[2017-11-19 16:18] rychkog commented on #164
@slay22 I'm already working on it. But because Angular 5 is not compatible with Angular 4. I can propose just two options:
1) Use ng2-tree v2.0.0-alpha.10
2) Wait a bit until I release v2.0.0-rc.2 but in this case, you still have to migrate your app to Angular 5.

You can use this tool, released by Angular team that makes upgrade process easier
https://angular-update-guide.firebaseapp.com/

[2017-11-19 17:31] #13 closed

[2017-11-19 17:31] akkumar opened #169 "Uncaught Error: Unexpected value 'TreeModule' imported by the module 'AppModule'. Please add a @NgModule annotation."
Encountering the following error in the browser console when using it.

[code]

Using

[code]

[code]

[code]

what could be going wrong here ?

[2017-11-19 21:29] #25 closed

[2017-11-19 21:29] #48 closed

[2017-11-19 21:29] #53 closed

[2017-11-19 21:29] #145 closed

[2017-11-19 21:29] #147 closed

[2017-11-19 21:29] #161 closed

[2017-11-19 21:45] rychkog commented on #169
@akkumar Try ng2-tree@2.0.0-rc.2

[2017-11-19 21:45] rychkog commented on #169
typescript 2.4.2

[2017-11-19 21:45] rychkog commented on #164
@slay22
Try to use ng2-tree@2.0.0-rc.2
typescript 2.4.2

[2017-11-19 21:46] rychkog commented on #160
@SpiraMira @JanEggers
Try to use ng2-tree@2.0.0-rc.2
typescript 2.4.2

[2017-11-20 07:17] JanEggers commented on #160
rc2 looks good thx

[2017-11-20 07:17] #160 closed

[2017-11-20 07:18] JanEggers commented on #146
works with rc2

[2017-11-20 07:18] #146 closed

[2017-11-20 08:19] akkumar commented on #169
@rychkog ng2-tree@2.0.0-rc.2 fixes it. Along with typescript 2.4.2 as before.

[2017-11-20 08:19] #169 closed

[2017-11-20 17:38] pburgmer opened #172 "Use proper way of rxjs imports"
Hi,

First of all: Thanks for this cool library.

We have some trouble building a bigger application with the Angular CLI. Digging deeper I saw you import Observables like this: ```import { Observable } from 'rxjs/Rx';```. This kind of import statements leads to a bigger file size. Please see https://christianliebel.com/2017/07/import-rxjs-correctly/ for more details.

Could you please update your

[2017-11-20 19:10] rychkog commented on #172
@pburgmer Agree, this is a good point. Will update the lib during this week.

[2017-11-20 20:22] pburgmer commented on #172
Thanks

[2017-11-21 05:50] #165 closed

[2017-11-21 12:27] Myrmex commented on #172
Maybe this comment can be useful: I'm finding that in my Angular CLI app using ng2tree works fine but only when compiling in prod mode (with or without `--aot`); when I compile for production (`--prod`), I get an error which seems related to this style of rxjs import. Hope making that update will solve this, too.
Here is the build error:

[code]

[2017-11-21 12:42] pburgmer commented on #172
I have the same error.

[2017-11-22 08:18] slay22 commented on #164
Many Thanks for the Answer, I will try with the rc.2 and also try to migrate/upgrade to 5 and if it works we can close the issue, I'll let you know.

[2017-11-24 14:14] avadhootha commented on #172
I updated the same issue over angular cli project as well - https://github.com/angular/angular-cli/issues/2281

Upgrading the typescript version to 2.6 also resolves the issue. But I think this library eventually have to replace the statements `import { Observable } from 'rxjs/Rx';` as @pburgmer  said.

[2017-11-24 19:10] #172 closed

[2017-11-25 07:57] avadhootha opened #175 "Error in TypeError: Cannot ready property 'version' of null"
I updated ng2-tree version to `'2.0.0-rc.3'` in my project and tried `ng build --prod --build-optimizer` which threw this error.
Error:
[code]

I see the file rxjs-imports.metadata.json contains `[null]`. Is this something to do this error?

[2017-11-25 09:31] rychkog commented on #175
@avadhootha Already looking at this - seems like angular compiler doesn't like files like this

[2017-11-25 10:15] #175 closed

[2017-11-25 10:23] rychkog commented on #175
I've checked prod using  `build --prod --build-optimizer` and it worked.

@avadhootha Please, let me know whether that helped (ng2-tree 2.0.0-rc.4)

[2017-11-25 10:52] avadhootha commented on #175
It works fine now with ng2-tree 2.0.0-rc.4. Thanks for the quick response.

[2017-11-26 15:15] encool opened #182 "AOT build fails"
There is an Angular-cli project use ng2-tree.Running  ```ng serve```  is ok but when I run ```ng serve --aot```  It comes with errors
[code]
environment
[code]

[2017-11-26 15:33] encool commented on #182
I think the published angular lib should follow the Angular Package Format [which in this doc described](https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/edit) while ng2-tree seems not.

[2017-11-26 19:15] rychkog commented on #182
@encool Why do you have path a like that `._ng2-tree@2.0.0-rc.4@ng2-tree`? Have you symlinked tree into your project?

[2017-11-27 01:42] encool commented on #182
I am in china,for the speed reason I use cnpm instead of npm,Maybe that cause the path problem?..I am not sure.
However I am using angular material and other third party lib did not cause errors.
I will try it agian with npm.

[2017-11-27 08:33] rychkog commented on #182
@encool Please, keep me posted - hope we'll solve this

[2017-11-27 09:23] encool commented on #182
Use ```npm install``` reinstall all the packages,It works as expected.
Just config like this ```npm config set registry https://registry.npm.taobao.org``` rather than use ```cnpm``` for the sake of speed.
Can be closed,Thanks for the response.

[2017-11-27 09:23] #182 closed

[2017-11-28 13:51] TMaster commented on #160
Still happens to me, Must I be in Angular 5?

[2017-11-28 13:58] TMaster opened #183 "Metadata mismatch in RC 4"
Hi
I updated the tree to the latest version (**2.0.0-rc.4)** but my app crashes on :

When I use the repository to retrieve the source code instead of the package it works fine.

angular dependencies:
[code]

Can you please help?

thanks,
TMaster

[2017-11-28 18:18] rychkog commented on #183
@TMaster This is because rc4 uses Angular 5 and it is not compatible with Angular 4. Unfortunately, the only way to use libs that use Angular 5 is to upgrade your app to Angular 5 :(

[2017-12-03 15:17] TMaster commented on #183
Ok, I'll check it out as soon as I'll upgrade to ng5

[2017-12-03 15:17] #183 closed

[2017-12-04 08:45] TMaster opened #184 "Tree always collapses when using NGRX"
Hi @rychkog

I installed the new version and unfortunately I'm still experiencing difficulties using the tree.
I'm loading children using Ngrx and when I load the next level the tree is collapsing back to the root node.

I found out that the setter `_setFoldingType()` calls to `childrenShouldBeLoaded()` and if this function returns true the node is collapsed.

The `childrenShouldBeLoaded()` calls

[2017-12-06 09:41] TMaster commented on #184
Hi @rychkog  Have you had a chance to look at the problem, it drives people here crazy,

If there something I can do to expedite the progress please tell me.

Thanks,

[2017-12-12 13:48] Jiehong commented on #163
I'm experiencing the same issue actually, but on a different angular 5 project. Even with `@import url("../../node_modules/ng2-tree/styles.css");`, no style is applied.

I can only force the style with some `:host ::ng-deep` on each class :/

[2017-12-12 15:14] Jiehong commented on #163
Ah, perhaps this doesn't work as this is a css style, and not a scss one!

[2017-12-14 08:46] TMaster commented on #128
Closing, request was merged to master :)

[2017-12-14 08:46] #128 closed

[2017-12-14 08:47] TMaster commented on #129
Feature was merged :)

[2017-12-14 08:47] #129 closed

[2017-12-14 08:48] TMaster commented on #184
Hi @rychkog , any news?
Thanks

[2017-12-15 20:16] shafeekv opened #185 "Stop moving node based on condition"
Hello,

How can I stop dragging a particular node/based on some condition?
Your response is appreciated!

Thanks,
Shafeek

[2017-12-18 07:55] karstensgit opened #186 "Container Overflow causes wrong Position of Elements"
Hi.
I want to place the Tree inside a Container with limited width (e.g. col-2 in Bootstraps grid system). However if i have an element which needs more space (from the example:  named a node 'Michael Jacksonnnnnnnnnnnnnnnnn'), there is a blank line inserted above the element and the element gets horizontally aligned with its parent. I already added per CSS 'overflow: auto' to different elements (

[2017-12-18 14:38] Jiehong opened #187 "How to add a specific id on a per node basis"
Hello,

I'm looking for a way to add a specific id (as in a html/css id: `<div id="hello">`) on each node, but I haven't found a way to do that right now.

Would it be possible to to have a way to specify the html id to use for that node in the TreeModel?

[2017-12-18 20:11] shafeekv commented on #185
Hi, is this feature supported now?  Some scenarios
1: I want to restrict dragging a node to a node to another node which has a child with same value (duplicate node)
2: I want to cancel moving if the a particular  node/or group of nodes moved to incompatible node (ex: book items moved to toys node)

Assistance is appreciated!

Thanks

[2017-12-19 16:01] leompande opened #188 "ERROR in Error: Metadata version mismatch for module"
Am using it with angular4 and I get this in dev server

ERROR in Error: Metadata version mismatch for module ..../node_modules/ng2-tree/index.d.ts, found version 4, expected 3, resolving symbol AppModule in ....src/app/app.module.ts, resolving symbol AppModule in .../src/app/app.module.ts

[2018-01-01 20:29] indywill commented on #152
I think I understand what he is asking for...
He wants to be able to validate name changes before they are applied.
For instance, if the node names represent file system names, certain characters are not allowed.

[2018-01-01 23:15] perushinkov opened #189 "Moving nodes by dragging ambiguity"
When you have sibling nodes, where one node is an emptied "folder", you can no longer drag nodes into that folder because it's treated as a leaf.

Example:

If I emptied the "grub" folder in the demo, and then decided to move the fonts back into that folder, it would be impossible. Since once the grub folder becomes empty, it turns into a leaf and other leaves are no longer draggable into it.

[2018-01-03 09:21] AndriWandres commented on #188
Getting the same Error as well with Angular 4

[2018-01-04 14:59] dr-mohamed-benkhalifa opened #190 "Feature request: Control and prevent actions to happen"
The component have various action events (move, rename, remove...), Id like to be able to control the action before it happens.

In my case, the motivation behind this was that our tree is async, and on every action: remove, rename or move a node, a server call is made to confirm that action, so in case of server response success/failure, decide what to do next: remove or not, rename or not, move

[2018-01-05 11:49] omid-nazifi opened #191 "Internet Explorer: Object doesn't support property or method 'Reflect.has()'"
I have faced to mentioned error when run my Tree project on IE. I have already searched about it and figured out what the problem is. In ng2-tree source was used has function in "/src/utils/fn.utils.ts" inner get() method. Actually it doesn't support with IE.
look bottom of page: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect/has

Please let me know how ca

[2018-01-05 13:42] omid-nazifi commented on #191
I found a solution. like everything that might be IR doesn't support, you have to use pollyfills and import which make your application compatible for different browsers.
I have added below line:
import 'core-js/es6/reflect';

[2018-01-08 03:12] robinmaple opened #192 "Is there a proper way to specify the icon in loadChildren callback function?"
[Question]

As in the demo code, one can specify icon in a static children[] array. But when I try to use that in the loadChildren callback function, it didn't seem to work. Is that feasible? Thanks!

[2018-01-08 20:02] iamsunny opened #193 "moving a node to another node is triggering nodeRemoved and nodeMoved noth"
Hi,

moving a node from one parent to another is trigger "nodeRemoved" first, and then triggering - "nodeMoved".

"nodeRemoved" event is triggered when you remove a node or leaf and so I couldn't find a way to distinguish if the "nodeRemoved" has been triggered by moving a node or by removing a node.

Am I missing anything or it's just a bug?

Thanks!

[2018-01-09 12:03] omid-nazifi commented on #79
@rychkog Could you tell me that this feature has brought to the master or not? I installed the latest version of ng2tree but i didn't  access it.

[2018-01-11 08:12] yoyogis opened #194 "Is there any chance to change the node name's color base on the data of the node ?"
Is there any chance to change the node name's color base on the data of the node ?

[2018-01-11 08:26] yoyogis commented on #194
item.toString = function () {
      return `<span style='color:${statusColor[this.status]}'>${this.name}</span>`;
}

I know the answer, Rewrite the toString() method, let it return a node.

[2018-01-11 08:26] #194 closed

[2018-01-12 12:19] Rainson12 opened #195 "Missing .ts files"
Hey,
im using ng2-tree coupled with angular 4.3.1 and sharepoint framework. Because of that im not using the angular cli. When building my application i get the following webpack exception:
[code]

[2018-01-16 20:08] mmirzaeyan opened #196 "Right To Left Support"
does the ng2-tree support Right To Left alignment ?

[2018-01-17 11:52] jyotimishra12 commented on #188
Does this issue resolved?
I am also getting this issue:
node_modules/ng2-tree/src/menu/menu.events.d.ts, found version 4, expected 3.

Anyone please help.

[2018-01-18 05:02] jyotimishra12 opened #197 "Settings not working for '2.0.0-alpha.10'"
Hi,

 2.0.0-rc.4, 2.0.0-rc.3, 2.0.0-rc.2, 2.0.0-rc.1 these versions are not compatible to my system so i am using '2.0.0-alpha.10'.  But i am unable to add settings to my tree.

Here is my code:

Please suggest whats wrong. collapse on init is not working, i want to stop right click and drag.

It's really urgent.

Thanks

[2018-01-18 23:21] mmirzaeyan commented on #142
i have the same problem , i think this is the most popular tree in ng2 , but there is no good documentation for working with the tree with services

[2018-01-20 06:19] MIseChow opened #198 "Hi, I want to extend the right-click function? What can I do ?"
I don't know how to extend another right-click button, except modify the source code, has other ways to achieve it ?
Thank you for you answers!

[2018-01-21 17:25] mmirzaeyan commented on #198
what do you mean about another right click ? do you want a custom context in right click ?

[2018-01-22 01:58] MIse3uc commented on #198
@mmirzaeyan Yes, that's what I mean. Where can I change his code to implement my functionality?

[2018-01-22 03:29] MIse3uc commented on #198
@mmirzaeyan  Ok, i get it. Thank you very much!

[2018-01-22 16:44] vipinchauhan23 opened #199 "How to add dynamic menu item in Tree"
Sir,
I want to add my dynamic data in menu item . Can we implement in this tree?
 Please tell me the solution.

[2018-01-22 17:18] mmirzaeyan commented on #199
hi , what do you mean about dynamic data ?
do you call a service and get an json ?

[2018-01-22 18:23] programoholic opened #200 "How to Display tooltip for each tree node??"
I am using ng2-tree to implement treeview in my web app. I need to display tooltip on each node. I couldn't find any example where tooltip has been used on tree nodes. Is there any pre-built api to display tooltip(different for every node) on tree nodes?

[2018-01-23 01:18] phuclam85 opened #201 "How can I setting for node selected when initialize TreeModel?"
I need to add css node-selected for node selected when initialize TreeModel but TreeModelSettings do not have any setting for that.

Can you help me? Thanks.

[2018-01-23 01:44] MIse3uc commented on #198
I think i did the same thing as you.

app.component.html
<tree #treePages [tree]="tree" **(menuItemSelected)="onMenuItemSelected($event)"** [settings]="settings" (nodeMoved)="handleMoved($event)" (nodeRenamed)="handleRenamed($event)"
        (nodeRemoved)="handleRemoved($event)" (nodeSelected)="handleSelected($event)" (nodeCreated)="handleCreated($event)">
      </tree>

app.component.ts :
nodeMen

[2018-01-23 08:06] CrazyBBer commented on #188
also got this issue.

[2018-01-23 21:29] lawmbass commented on #188
Just got this error today. Does anyone know how to resolve this?

[2018-01-23 21:58] lawmbass commented on #188
Upgrading my Angular app from V4 to V5 seemed to fix the issue for me.

[2018-01-24 01:52] MIse3uc commented on #193
@iamsunny Hi, Have you solved the problem?  I get in same problem with you.

[2018-01-24 03:31] CrazyBBer commented on #188
check your framework or starter  dependency version .
change it to the right version that your  framework or starter  depends on

[2018-01-24 09:05] AllNamesRTaken commented on #79
This is exactly what we are looking for. What is the status?
Help Needed?

[2018-01-24 12:56] TMaster commented on #79
There is  a pending PR [#181](https://github.com/valor-software/ng2-tree/pull/181)
I'm waiting for @rychkog  to replay for a designing problem there.

[2018-01-25 08:43] CrazyBBer opened #202 "[Double-click Event On Tree Node]it looks we didn't have this Event Type."
Did we consider to add this ? or anybody  have some implementation  we can use ?

[2018-01-25 09:16] CrazyBBer commented on #202
[code]

try this code .it didn't work ,any suggestion ?

[2018-01-26 05:54] dyh333 opened #203 "which tool to build dist folder?"
hi, @rychkog  which tool you used to build the dist folder? I just found the umd-bundler.js but did not found webpack or rollup to build

[2018-01-31 00:51] dpollastrini opened #204 "No Controller for New Nodes Added via addChild"
`  updateCampaignScriptTreeModel(script: IScript): void {

    let targetScriptNodeController: TreeController = this.scriptTreeComponent.getControllerByNodeId(script.id);

    if (targetScriptNodeController) {

      let targetScriptTreeModel = targetScriptNodeController.toTreeModel();

      if (targetScriptTreeModel.title !== script.title) {
        targetScriptNodeController.rename(script.title

[2018-01-31 01:15] badframe opened #205 "Root Element did not have Treecontroller"
Because the Root element Did not have Treecontroller, It is not possible to select it by using "getControllerByNodeId(<id>)", and then It is not possible to use "addChild" for root node.

in debugger:  (File: tree.service.js)

[code]
dump of "this.controller" (Line2)  indicate a list of all nodes in tree  with a Treecontroller  **except** the root node!!!

[2018-01-31 01:31] dpollastrini commented on #205
@badframe I noticed the same thing.  I use a workaround by getting to the root controller via:

`TreeComponent.rootComponent.controller`

A bit hacky, but it works.  It would be better, of course, if we could get to the root controller using the same function as other nodes.

[2018-01-31 13:57] Mantaspetr opened #206 "Nodes with same parent can't be moved into one another"
Moving a node to a folder that shares the same parent with the moved node causes nodes to be reordered rather than moved. You can check this in the demo by dragging folders around that share the same parent, for example: try moving 'Aspect-oriented programming' folder into 'Object-oriented programming'.

[2018-01-31 16:49] dpollastrini commented on #204
I found my problem.  I needed to use "createNode" rather than passing an anonymous object directly in to addChild.

` ...
     let newNode = this.scriptTreeComponent.tree.createNode(true, { id: script.id, value: script.title, children: [] });

      targetParentScriptNodeController.addChild(newNode);
...
`

[2018-02-01 07:17] shivIndewar commented on #197
@jyotimishra12 and All if I saw a npm package for TreeModel, settings is extended from TreeModelSettings    it has meaning for only static and only static is working for me. I think all the others setting attributes dont have meaning you can see the attached interfaces :
![treeview](https://user-images.githubusercontent.com/15210636/35665916-0831b6c6-074e-11e8-8bc8-9de11cb968a8.PNG)

[2018-02-01 11:51] boban984 commented on #79
Any progress on this?

[2018-02-01 11:55] rychkog commented on #79
@TMaster @boban984 I'm back - had a massive amount of work and no chance to work on the tree. Sorry about that. Will start gradually working on issues and resolving checkboxes feature is the first thing I'll do.

[2018-02-01 11:56] rychkog commented on #193
@MIse3uc @iamsunny It was done like that by design. But I see the confusion and agree, that it should be fixed

[2018-02-03 21:04] rychkog commented on #197
@jyotimishra12 I could only suggest you to upgrade. Maybe you can create an example where issue is reproducible using https://stackblitz.com/?

[2018-02-03 21:06] rychkog commented on #206
@Mantaspetr It is by design. We should add additional option for that in order to control this behavior
It is duplicate of https://github.com/valor-software/ng2-tree/issues/68

[2018-02-03 21:07] #206 closed

[2018-02-03 21:08] #189 closed

[2018-02-03 21:10] rychkog commented on #203
@dyh333 It is [systemjs bundler](https://github.com/valor-software/ng2-tree/blob/master/umd-bundler.js).

[2018-02-03 21:10] #203 closed

[2018-02-03 21:12] rychkog commented on #188
The new version of tree works only with Angular 5. This is because module format from Angular 4 is not compatible with the one from Angular 5

[2018-02-03 21:12] #188 closed

[2018-02-03 21:13] rychkog commented on #198
@MIseChow Have you resolved your issue?

[2018-02-03 21:17] rychkog commented on #201
@phuclam85 There is no option to add a custom class to the selected node. Though it is a good idea for a new feature.

[2018-02-03 21:18] rychkog commented on #200
@programoholic No, there is no such API in the tree currently.

[2018-02-03 21:21] rychkog commented on #186
@karstensgit Could you, please, reproduce this bug in here https://stackblitz.com/ ?

[2018-02-03 21:22] rychkog commented on #142
@mmirzaeyan You are right, we need to document this project better, especially with real-world examples

[2018-02-03 21:23] rychkog commented on #196
@mmirzaeyan Unfortunately no :(

[2018-02-03 21:25] rychkog commented on #195
@Rainson12 latest ng2-tree only supports Angular 5

[2018-02-03 21:26] rychkog commented on #195
Though this issue looks weird - I don't have Windows machine, unfortunately ....

[2018-02-03 21:26] rychkog commented on #195
Will try to reproduce

[2018-02-03 21:27] rychkog commented on #192
@robinmaple Could you, please, reproduce this in https://stackblitz.com/?

[2018-02-03 21:30] rychkog commented on #190
@dr-mohamed-benkhalifa For now you can workaround this via [custom menu items](https://github.com/valor-software/ng2-tree#configure-node-via-treemodelsettings).

[2018-02-03 21:31] rychkog commented on #187
@Jiehong There is such functionality in the tree yet. Could you describe your use-case?

[2018-02-05 03:42] jitenderd opened #207 "Multi selection of nodes."
I want to implement multi selection of nodes using ctrl+left mouse click. Currently we are not having this feature with ng2-tree. Is there any possible way to do this. if yes please suggest.

[2018-02-05 05:41] rychkog commented on #207
@jitenderd There is a PR from @TMaster. Which potentially might be what you are seeking for

[2018-02-05 05:43] rychkog commented on #204
@dpollastrini Thanks for sharing - this is a good case for the paragraph in the documentation.

[2018-02-05 06:27] gomedh commented on #207
Yes, even I need this feature to be implemented. Please notify once the work is done.

[2018-02-05 07:51] thrillerwu opened #208 "can not move a element to a empty folder if the element original position is the sibling with the folder"
If original case is

I find i can not move element to the folder. I find these code prevent the case

I try to fix line 39 to
`if (!_this.tree.isBranch() && _this.tree.hasSibling(e.captured.tree)) {`
Then I can get the correct result.

[2018-02-05 08:26] rychkog commented on #207
@gomedh Deal

[2018-02-05 08:28] rychkog commented on #208
@thrillerwu Please check is it the same as https://github.com/valor-software/ng2-tree/issues/206?

[2018-02-05 08:29] rychkog commented on #208
If not - then please give me a bit more context, so that I can reproduce. Or create a gif image with the issue (this way it will be even better).

[2018-02-05 08:30] rychkog commented on #194
@yoyogis Actually - this is a good point for documentation

[2018-02-05 08:30] rychkog commented on #194
Thanks!

[2018-02-05 08:33] #191 closed

[2018-02-05 08:34] rychkog commented on #152
@indywill Now I see, thanks!

[2018-02-05 08:41] rychkog commented on #185
@shafeekv No, this is currently unsupported. You cannot move node onto static nodes (this is only option available currently).
But this is a very fair use-case.

[2018-02-05 08:46] rychkog commented on #184
@TMaster I understand the problem. Will work on this.

[2018-02-05 08:47] TMaster commented on #184
Thanks, a lot

[2018-02-05 10:18] thrillerwu commented on #208
yes, it's the same as #206. Will you fix the case in future version?  @rychkog

[2018-02-05 13:32] shafeekv commented on #185
Thanks @rychkog for the update.
I am handling the scenario with error alerts to users and blocking them from final operations.
Anyway thanks again for the nice component which helped me very much

[2018-02-05 13:32] #185 closed

[2018-02-05 21:54] boban984 commented on #204
Hi guys, im having the same issue, but the code sample by @dpollastrini did not work form me.

tree-controller -> addChild already calls "createNode", but the problem is that id does not create a controller for the corresponding new node, as in where you initialize the component with a treeModel id loops trough all the nodes creates a tree-internal instance and also a controller.

[code]

So in my

[2018-02-06 09:59] rychkog commented on #204
@boban984 thanks, I'll reopen this and have a look.

[2018-02-06 10:01] rychkog commented on #208
@thrillerwu Sure, cannot say you the exact time when a new release will be available. Currently, I'm working on issue prioritization so that I can split them on chunks

[2018-02-06 14:54] #208 closed

[2018-02-07 16:44] ctolene opened #209 "Tree element is hidden when collapsed + root is invisible on init"
Using `rootIsVisible: false` and `'isCollapsedOnInit': true` together will hide the tree element completely rather than just initializing with the roots child nodes visible & collapsed.

[2018-02-07 17:01] ctolene commented on #163
@davayd If you want to overwrite the default styling (especially if you dont want node_modules in source control) copy the styles.css file from ng2-tree into your project and use an "@include" in your global style sheet. This will also fix your issue if you just want the default stylings

[2018-02-07 17:15] ctolene commented on #209
**Workaround**
Add settings to child node:
app settings = `{rootIsVisible: false}`
root node settings = `{'isCollapsedOnInit': false}`
child node settings = `{'isCollapsedOnInit': true}`

[2018-02-07 20:48] rychkog commented on #163
@ctolene Thanks! This should be documented

[2018-02-07 20:50] rychkog commented on #209
@ctolene Thanks for this! - subtle issue.

[2018-02-08 09:40] Jiehong commented on #187
@rychkog sure.

When doing End to End testing, selecting a specific leaf in the tree isn't very easy. Thus, having the possibility to give a given id to a leaf allows us to be able select & focus a leaf easily.

[2018-02-08 09:52] rychkog commented on #187
@Jiehong I think this should help you, please, have a look and let me know whether it works for you
https://github.com/valor-software/ng2-tree/issues/194

[2018-02-08 09:54] rychkog commented on #187
Basically by overriding toString you're changing node representation (there you can add your an element id)

[2018-02-08 10:28] Jiehong commented on #187
I'll try that!

[2018-02-08 12:55] esraagalal opened #210 "how to filter in the tree and expand this level directly with it's parent"
how to filter in the tree and expand this level directly with it's parent
![3](https://user-images.githubusercontent.com/31244068/35973906-d064d970-0cdf-11e8-9c66-2ad13b3b65c7.PNG)
as shown in the picture i tried to search in third level but it not expanded until first level expand first

[2018-02-08 13:12] EmanMohammad commented on #210
i also have this propem

[2018-02-08 13:15] rychkog commented on #210
@esraagalal @EmanMohammad, In theory, you can recursively grab a TreeController for each expanded node and call its expand method. But there is no built-in options for that

[2018-02-08 13:38] boban984 commented on #79
@rychkog do you have an estimate of when you will be able to merge the pull request for the "Checkbox" feature? Or maybe it's better to fork the repo and add it?

[2018-02-08 13:39] rychkog commented on #79
@boban984 There are some comments that need to be fixed - once done - will be merged

[2018-02-08 13:41] rychkog commented on #79
@boban984 I will be working on issues created so far (including checkboxes) on Saturday

[2018-02-08 13:41] rychkog commented on #79
Will start with this feature

[2018-02-08 15:49] Jiehong commented on #187
I encountered some sanitation issues by doing that directly using Angular, so in the end, I simply created a template for each node.

Something like that for future reference:

[code]

I suppose this enhancement may be closed then.

[2018-02-11 15:55] rychkog commented on #205
@badframe @dpollastrini Are you sure you actually have an id assigned to the root node?

[2018-02-11 16:37] rychkog commented on #204
@dpollastrini @boban984 TreeController requires TreeInternalComponent in order to control its behavior. But I have an idea. I'll add a createChildAsync method to the controller, therefore allowing TreeInternalComponent to create a new controller for the child on one event loop iteration and resolving the new child on a subsequent one.

Here is the how it will look like:

[code]

What do you think

[2018-02-11 16:54] #107 closed

[2018-02-11 16:56] #127 closed

[2018-02-11 17:01] #79 closed

[2018-02-11 17:01] #115 closed

[2018-02-11 17:01] #204 closed

[2018-02-11 17:01] #209 closed

[2018-02-12 08:09] manojp1988 opened #215 "How do I disable drag and drop functionality?"
Hi,

I want to disable drag and drop functionality. How can I do this with ng2-tree?

[2018-02-12 08:19] manojp1988 commented on #215
I just saw there is a property called static, but this property also disables menu functionality.  I still need
menu items on right click.

[2018-02-12 08:34] rychkog commented on #215
@manojp1988 Currently there is no option for disabling only DnD functionality

[2018-02-12 09:41] #215 closed

[2018-02-12 14:53] dpollastrini commented on #205
@rychcog Yes.  Value was 0.

[2018-02-12 15:18] rychkog commented on #205
@dpollastrini I'll try this value. But I wasn't able to reproduce. Could you try another id (some string value for example)?

[2018-02-13 18:53] ctolene opened #217 ""NodeMenuItemAction.Custom""

[2018-02-13 18:55] rychkog commented on #217
@ctolene Please, provide a bit more details

[2018-02-13 18:58] ctolene commented on #217
@rychkog My apologies, this published when I pressed enter trying to enter a new paragraph.

[2018-02-13 19:02] rychkog commented on #217
@ctolene No worries. Thanks for the issue - will fix this approximately on weekends

[2018-02-13 21:28] ctolene commented on #217
Submitted a fix
#218

[2018-02-14 02:37] zozobreakzou opened #219 "treeController.setChildren doesn't call setFoldingType."
as title.

[2018-02-14 07:51] rychkog commented on #217
@ctolene Thanks! Merged

[2018-02-14 07:51] rychkog commented on #217
Will release with a bunch of other fixes

[2018-02-15 07:09] rogercoder commented on #17
I also have this problem:

`Can't bind to 'tree' since it isn't a known property of 'tree'`

Have fiddled with my project's package.json but no luck.

[2018-02-15 07:44] hotdog1987 opened #220 "how to deselect a node from controller?"
i was reading the documentation and did fair amount of research but could not find a way to programatically deselect a node.

My Scenario:

When user 'left click' a node, a form template needs to show up right below the value. But since it is still part of the node, when user tries to click inside the form, the "node selection" event fires again, triggering the code to select node again.

my templ

[2018-02-15 09:38] rychkog commented on #17
@rogercoder Please, provide your Angular dependencies' versions

[2018-02-15 09:40] rychkog commented on #220
@hotdog1987 Thanks!
I will have a look - this actually might be a bug

[2018-02-15 15:27] boban984 commented on #204
@rychkog that would be ideal

[2018-02-15 17:44] rogercoder commented on #17
Thanks for the quick response ... but I actually got it working with angular-cli 1.6.8. (I could not get it to work properly with angular-cli 1.7.0-rc.0 for what it's worth, but that may be because of problems unrelated to ng2-tree).

My problem was I had imported TreeModule into our SharedModule but had neglected to add it to the exports section of that module.

[2018-02-15 18:25] hotdog1987 commented on #220
@rychkog Thank you for a quick look at it. Is a workaround/hack I can try at this moment? If this is an actual bug then the fix might not be available till it is released. Correct me if I'm wrong.

[2018-02-15 18:28] rychkog commented on #17
@rogercoder Thank you for sharing this!

[2018-02-15 18:28] #17 closed

[2018-02-15 18:34] rychkog commented on #220
@hotdog1987 I can add the deselect method on the weekend, also I think something like `controller.disableSelection()` and `controller.enableSelection()` might be useful. So new release will be there during the weekend.

[2018-02-15 18:35] hotdog1987 commented on #220
@rychkog wow that would be awesome. Thanks alot!

[2018-02-15 18:37] rychkog commented on #204
@boban984 Actually this functionality is already in master and released. I just haven't had enough time for updating the doc.

[2018-02-18 18:36] #220 closed

[2018-02-18 19:49] rychkog commented on #220
@hotdog1987 I've released a new version with an API for allowing, forbidding node selection. Though, this feature is still absent in docs (will add later). You can have a look at the API in [here](https://github.com/valor-software/ng2-tree/blob/613d2de8998f503c9b8e75075989cf9239e3a8d6/src/tree-controller.ts#L132). I hope it is intuitive enough.
Looking forward to the feedback.

[2018-02-19 13:26] glueornose opened #224 "When moving, NodeMoved event fails when the source node and the destination node are siblings"
Drag-and-drop feature works well with all combinations with one exception: when the source node and the destination node are siblings. When the nodes are siblings, and one is moved to another, the NodeMovedEvent object, provided by nodeMoved event, contains wrong previousParent, because in this case both previousParent and node.parent contain the same object. As far as I understand, these two obje

[2018-02-19 17:35] hotdog1987 commented on #220
@rychkog Thank you so much for a weekend update. But, I'm little confused about the three new APIs that were introduced. We are seeking for an option to deselect a node from controller not forbidding selection. What is happening now is when I say ``` controller.forbidSelection()``` everything works as it should but now the callback ```(nodeSelected)="handleSelected($event)"``` never gets triggered

[2018-02-20 00:24] hotdog1987 commented on #200
@programoholic why not try something like this? :

[code]

Controller:

[code]

PS: This isnt exact code but an example.

[2018-02-20 19:58] rychkog commented on #220
@hotdog1987 Released a new version - rc.8
There you can `(nodeUnselected)="handleUnselected($event)"` and `controller.unselect()`. It triggers `NodeUnselectedEvent`

[2018-02-20 22:14] hotdog1987 commented on #220
@rychkog Thank you alot!!!

[2018-02-21 18:09] l2018ng commented on #17
This the version I am using:    "ng2-tree": "2.0.0-alpha.10",

[2018-02-21 18:44] rychkog commented on #17
@l2018ng Unfortunately you need to move to Angular 5. Cause there is a backward compatibility issue between Angular 4 and 5.

[2018-02-21 18:44] rychkog commented on #17
Then you can start using latest versions of the tree

[2018-02-21 23:27] ctolene opened #226 "getControllerByNodeId() not available on tree component"
The example in the documentation for getControllerByNodeId() doesn't work. The method is not available on the object. Is this a bug? See comments in code below for output.

**HTML**
`<tree [tree]="tree" #treeComponent></tree>`
**TypeScript**
[code]

[2018-02-22 09:32] rychkog commented on #226
@ctolene It works, please check here https://stackblitz.com/edit/angular-rgcuga?file=app/hello.component.ts
Try to modify the example in order to reproduce your issue

[2018-02-22 14:28] ctolene commented on #226
I figured out the issue. Because I am hiding the root node in the constructor it makes `getControllerByNodeId` unusable for child nodes. Adding the following in your example reproduces the issue.
[code]

[2018-02-22 14:30] rychkog commented on #226
@ctolene This is something :) Will have a look

[2018-02-22 15:01] rychkog commented on #226
@ctolene But why do you have settings assigned this way. It works fine when you pass settings as an input to the tree. `[settings]="settings"`

[2018-02-22 15:03] ctolene commented on #143
@jineshpg  How did you get the dynamic loading of nodes to work, please share. Thank you.
@rychkog  This would be a good feature.

[2018-02-22 15:32] ctolene commented on #143
Never mind gentlemen, I figured it out. Cheers

[2018-02-22 15:35] ctolene commented on #143
It's worth mentioning that the property `Children` must be initialized within the node object in order for `this.nodeController.addChild(tempNode);` to work.

[2018-02-22 16:10] ctolene commented on #226
@rychkog Absolutely perfect, that's exactly what I needed. Thank you for your help!

[2018-02-22 17:37] ctolene commented on #226
Well, the fixed work, but also created more issues. When initializing the settings directly on the element using your recommendation, these settings will no longer work:
[code]
Reproduced here: [https://stackblitz.com/edit/angular-ejm5ng?embed=1&file=app/hello.component.ts](https://stackblitz.com/edit/angular-ejm5ng?embed=1&file=app/hello.component.ts)

[2018-02-22 19:11] ctolene commented on #226
The below works. Thanks again for your help, really appreciate your time and also thank you for this application. Cheers, Cody.

[code]

[2018-02-22 19:13] rychkog commented on #226
@ctolene There are 2 kinds of settings. [The first kind](https://github.com/valor-software/ng2-tree#settings)([Ng2TreeSettings](https://github.com/valor-software/ng2-tree/blob/master/src/tree.types.ts#L115)) is for tree component itself and the second one is for the actual [tree model](https://github.com/valor-software/ng2-tree#configure-node-via-treemodelsettings)([TreeModelSettings](https://gith

[2018-02-22 19:14] #226 closed

[2018-02-23 08:07] MIseChow commented on #198
@rychkog yes,i already resolved my issue.Thanks~

[2018-02-23 08:38] #198 closed

[2018-02-23 21:35] ctolene opened #228 "Empty "children: []" still shows dropdown arrow (>) on node element."
This really causes a headache especially when returning things [from an endpoint] such as enumerable's or collections, which output as empty "[]" rather than null.

[2018-02-23 21:39] ctolene commented on #228
Sorry, I just realized this was programmed this way. Class given to these elements are "folding node-empty". Regards, Cody.

[2018-02-23 21:39] #228 closed

[2018-02-24 08:12] Mohammed9531 opened #229 "Rename the project from ng2-tree to ngx-tree?"
Hey @rychkog

I think it makes more sense to have it renamed it to ngx instead of ng2. As it is published in angular 2 and above.

Thanks!

[2018-02-25 05:00] caroso1222 opened #230 "Add (nodeHovered) event"
Hey!

Good job building this component. I think there are certain use cases in which a `(nodeHovered)` event is needed. I'm building an interactive TypeScript AST viewer and I'd like to select parts of the code once a tree symbol is hovered.

I ported your code and added the feature, so I'm up to the task of opening a PR, if you want me to. Please find below a small sample of what I'm building (st

[2018-02-25 20:16] rychkog commented on #230
@caroso1222 Cool stuff! :) Just make a PR

P.S. Please send it to the develop branch and don't forget tests :)

[2018-02-26 08:52] mrfx opened #231 "getControllerByNodeId() is null"
const nn: TreeModel = { "some name", id:  2, children: [] }
this.treeComponent.rootComponent.controller.addChild( nn );
setTimeout(() => {
        console.info( 'result:', this.treeComponent.getControllerByNodeId( 2 ));
      }, 5000);

// returns null

I read #204 but  "createNode" solution does'nt work for me. :(

[2018-02-26 21:46] rychkog commented on #231
@mrfx You can use [addChildAsync](https://github.com/valor-software/ng2-tree/issues/204#issuecomment-364765251). This is not yet documented but already available

[2018-02-27 07:56] mrfx commented on #231
Yes. This works great! Now I can create my tree dynamically & recursively from other objects and structures. Thank you a lot!

[2018-02-27 10:26] #231 closed

[2018-03-02 10:18] Lars-Erik75 commented on #17
Same issue with Angular 5

"dependencies": {
    "angular/animations": "^5.2.0",
    "angular/common": "^5.2.0",
    "angular/compiler": "^5.2.0",
    "angular/core": "^5.2.0",
    "angular/forms": "^5.2.0",
    "angular/http": "^5.2.0",
    "angular/platform-browser": "^5.2.0",
    "angular/platform-browser-dynamic": "^5.2.0",
    "angular/router": "^5.2.0",
    "ng-bootstrap/ng-bootstrap": "^1.0

[2018-03-02 10:44] rogercoder commented on #17
@Lars-Erik75 Try angular-cli 1.6.8

[2018-03-02 13:59] Lars-Erik75 commented on #17
@rogercoder  Thx for answer.
Same error after uninstalling Angular-cli and reinstalling with 1.6.8 though.

[2018-03-02 22:18] rychkog commented on #17
@Lars-Erik75 Please, reproduce you error using https://stackblitz.com
This will allow to understand the cause of the issue much faster.

[2018-03-03 04:07] caroso1222 opened #232 "Add custom template section to the documentation"
Sorry if I'm missing something, I just think we should add a section in the documentation which explains how to set a custom template for the nodes. I had to look in the code to figure out that I had to include the template as a transcluded content inside the tree component:

[code]

I'm up to the task of opening a PR for this, but I better double check and ask if this is the recommended approach

[2018-03-03 10:29] rychkog commented on #232
@caroso1222 Good point! Looking forward to your PR.

[2018-03-06 00:35] dpollastrini opened #233 "Reload TreeModel Hook"
I'm populating my TreeModel from a backend Web API.  I have an Angular service that supplies the TreeModel via an observable.  My component subscribes to the observable and updates the tree as TreeModel updates are pushed from the service....

**Example Template**
[code]

**Example Component Subscription**
[code]

As you can see, I'm essentially reloading the entire TreeModel (and TreeSettings, as

[2018-03-06 09:49] rychkog commented on #233
@dpollastrini Thanks for sharing this case! I'll label this issue as an enhancement. For now, you can try to select the tree in a next event loop iteration using `setTimeout`.
Please let me know whether that helped.

[2018-03-06 12:56] #164 closed

[2018-03-09 16:46] dpollastrini commented on #233
@rychkog setTimeout works fine.  Thanks.

[2018-03-12 09:23] RubenHaeck opened #234 "Disabling the default behaviour (underlying)"
Is it possible for disabling the underlying action of a node, when you hovering over the current node?

[2018-03-13 02:40] leihg opened #235 "version expected"
ERROR in Error: Metadata version mismatch for module D:/project/LUNZ-UI/node_modules/ng2-tree/index.d.ts, found version 4, expected 3, resolving symbol TreeviewDemoModule in D:/project/LUNZ-UI/src/app/treeview-demo/treeview-demo.module.ts, resolving symbol TreeviewDemoModule in D:/project/LUNZ-UI/src/app/treeview-demo/treeview-demo.module.ts

[2018-03-13 02:41] leihg commented on #235
What's all this about?

[2018-03-13 23:33] disun opened #236 "Layout incorrect with the sample code"
I try to use the ng2-tree to show some simple data. I follow the instruction in the wiki but the tree doesn't looks like render correctly,.

After debugging with chrome, I realized that the css is loaded.
However the attributes such as  'ng-reflect-tree', 'ng-reflect-settings' are not applied to <tree-internal> tag at all..

In chrome the tree looks like
`<tree-internal>
  <ul class="tree">
    <l

[2018-03-14 02:15] Mian007 opened #237 "cannot make a Parent as a child of another Parent if both have no child already"
in my case there are only two parents and they don't have child . what i want to do is make parent A the child of parent B but when i Drag on it ...it just replacethere position not make his child please help me

[2018-03-18 01:04] thiensk opened #238 "rootIsVisible not working"
Hello,

when i set property rootIsVisible of Ng2TreeSettings to false, the root tree node is still displayed. The other properties (showCheckboxes, enableCheckboxes) work correctly.

[2018-03-19 03:48] ifmake opened #239 "I can't control the status and selection of each check box"
one:
<tree
            #RightTreeR
            [settings]="treeSettings"
            [tree]="menuRightTree"
            (nodeChecked)="getNowNodeId($event.node, true)"
            (nodeUnchecked)="getNowNodeId($event.node, false)"
            (nodeSelected)="fnGetRightByOrgan($event, RightTreeR)">
            <ng-template let-node>
              <input type="checkbox" [checked]="node.isexist > 0"

[2018-03-22 10:56] roydekleijn opened #240 "Align nodes"
Hello,

How can I properly align the nodes? (see screenshot)

![2018-03-22_1151](https://user-images.githubusercontent.com/1298389/37766552-89829c28-2dc7-11e8-9d82-f4f0bba29c6d.png)

Pls, let me know what CSS property I need to adjust.

[2018-03-22 13:16] rajeshkdev commented on #102
This implementation is available ng2-tree v2.0.0-rc.2 version onwards.

The following flag need to be set to collapse by default. Else it will be all the expanded .

[code]

[2018-03-22 18:02] roydekleijn commented on #240
Changing the following will fix the issue:

[code]

Shall I create a pull request for it ?

![image](https://user-images.githubusercontent.com/1298389/37789153-79e7fa9c-2e03-11e8-88a8-d9c60965c91e.png)

[2018-03-23 15:42] Mian007 commented on #237
@rychkog can you please help to solve above issue

[2018-03-23 23:32] sfilipi opened #241 "ng2-tree rename is prone to XSS"
Enable the right menu on ng2-tree.
Right click on a node -> Rename and enter the following as the new nodes name:

`<img onerror="alert('hi')" src="/">`

Notice the page runs the script.

The user input to the node name should be sanitized before use.
![ng2treexss](https://user-images.githubusercontent.com/19392467/37857359-99b92ddc-2eb7-11e8-922a-4da6c0b2a3d3.JPG)

[2018-03-24 09:31] roydekleijn commented on #63
How can we automatically expand the tree once selecting a node ?

[2018-03-26 07:30] rychkog commented on #240
@roydekleijn Please, go ahead and send a PR.

[2018-03-26 07:31] rychkog commented on #241
@sfilipi Thanks, for that - will do a fix ASAP!

[2018-03-26 07:35] rychkog commented on #239
@ifmake Please, try to reproduce this in here https://stackblitz.com/. It's not clear to me what do you want to achieve.

[2018-03-26 07:36] rychkog commented on #238
@thiensk Could you reproduce this using https://stackblitz.com?

[2018-03-26 07:37] rychkog commented on #237
@Mian007 I'll have a look at this.

[2018-03-26 07:38] rychkog commented on #236
@disun Could you, please reproduce your issue in here https://stackblitz.com ?

[2018-03-26 07:40] rychkog commented on #234
@RubenHaeck You cannot disable it. But you can override tree styles in order to get rid of this behavior (https://github.com/valor-software/ng2-tree/blob/master/src/styles.css#L118).

[2018-03-26 07:41] rychkog commented on #229
@Mohammed9531 I agree. I'll do this with a release version of the tree

[2018-03-26 07:43] rychkog commented on #224
@glueornose But do you get an exception somewhere?
Actually this behavior is correct, cause the node was moved, though the new parent and the prev parent are still the same

[2018-03-26 07:46] rychkog commented on #63
@roydekleijn Could, you reproduce the issue with null instead of treeController using stackblitz.com?
This way I'll be able to help you ASAP.

[2018-03-26 08:06] glueornose commented on #224
There are no exceptions, but at the moment it is now possible to move sibling nodes into each other.

[2018-03-26 09:28] Vasiliy13 commented on #237
The same problem

[2018-03-26 13:05] roydekleijn commented on #63
https://stackblitz.com/edit/angular-cptwup

I want the tree to be opened to node 7 (in this case)

[2018-03-30 19:06] JSponaugle commented on #188
Hello,

   What Version of ng2-tree works in Angular 4. Our client has not decided to move to angular 5 yet and we are running into this issue.

[2018-03-30 19:40] hotdog1987 opened #243 "Event for right click?"
Is there an event for right click on node? like (NodeRightClicked) ?

[2018-03-31 14:27] hotdog1987 commented on #243
Yes but is there a way to know if user has right clicked on a node to see the menu? It renders an element 'node-menu' and using angular's elementref to search for element exists is not solving my purpose. I need to perform api call when user right clicks on a node.

[2018-03-31 20:07] ameeralikhan opened #244 "Settings not working"
Some settings are not working e.g. rightMenu deactivate, static stop dragging etc. Is there any mistake in my settings or its treeview issue?

 public settings: TreeModelSettings = {
    rightMenu: false,
    static: true,
    leftMenu: false
  };

[2018-04-02 07:04] schuman66 commented on #142
Use addChild method instead of push into the array,  since the double quotation marks will make mistakes in TreeModel .

[2018-04-03 08:03] rychkog commented on #243
@hotdog1987 I think we can publish an event on that action - will bring this in the next release.

[2018-04-03 08:07] rychkog commented on #188
@JSponaugle I think  ng2-tree 2.0.0-alpha10 work with Angular4 but it might miss some features/fixes.

[2018-04-03 08:12] #233 closed

[2018-04-03 17:13] horsaco27 commented on #244
Do you bind 'settings' to html component?

[2018-04-03 20:54] Fiotz commented on #188
I have the same issue, I upgraded my angular to version 5.2.9, but I continues to have the same problem

[2018-04-04 12:11] thiensk commented on #238
Hello @rychkog ,

https://stackblitz.com/edit/angular-e3ex9j

the rootIsVisible is set to false, so i would expect the Programming Languages is not displayed and the first level nodes will be Object Oriented programming and Prototype Based programming

Thanks.

![image](https://user-images.githubusercontent.com/26627672/38306797-fc4c6f6e-3811-11e8-88b0-9be9d37f89ca.png)

[2018-04-04 16:58] hotdog1987 commented on #243
@rychkog Thank you so much for your attention. Any estimate on this please?

[2018-04-05 18:59] horsaco27 opened #251 "Expand node after setChildren"
Hello.

Thank you very much for this compement!! It's so usefull.

My question.

I'm trying to expand a node after add children with a socket response.

[code]

node not expand with nodeController.expand().

Thanks for reading.

[2018-04-06 01:48] ameeralikhan commented on #244
Yeah, I bind it.

[2018-04-06 12:12] horsaco27 commented on #244
Well, according to me, TreeModelSettings needs to be into TreeModel.

check this.
https://github.com/valor-software/ng2-tree#tree-1

[2018-04-06 13:31] Dhamu143 commented on #152
any update on this ?

[2018-04-08 23:06] Sruthikud opened #252 "Settings: Cannot access 'right menu' when static is set to true."
In the Tree model Settings, if static is set to 'true', the right menu of node cannot be accessed. Is there any solution, to not let node item draggable but can have 'right menu'? Pls help me with this scenario. Thank you.

[2018-04-09 18:25] phspies opened #253 "Read nodes that has been checked"
How can you read all the nodes that has been checked in the tree without stepping into each children attribute?

[2018-04-10 06:51] khaliltayseerhamad opened #255 "How to make the tree readonly , and prevent user to modify it"
I want to prevent the user to add or modify or move the nodes what shall I add 👍

  <tree *ngFor="let obj of tree" [tree]="obj" (nodeSelected)="logEvent($event)" ></tree>

[2018-04-10 06:55] khaliltayseerhamad commented on #255
Please note that I have added the settings but still is not working :
    <tree *ngFor="let obj of tree" [tree]="obj" (nodeSelected)="logEvent($event)"  [settings]="settings"></tree>

  settings= new TreeModelSettings();

 ngOnInit() {
        this.settings.static = true;
        this.settings.leftMenu = false;

    }

[2018-04-10 07:08] khaliltayseerhamad opened #256 "After selecting the node I want to collapse"
Dear, on logevent($event)  after selecting the node I want to collapse the parent what step shall I do

<tree *ngFor="let obj of tree" [tree]="obj" (nodeSelected)="logEvent($event)" >

[2018-04-10 14:31] Dhamu143 opened #257 "can we handle dynamic data ?"
is there any demo in angular 5 which handle dynamic data of each node ?

[2018-04-10 14:51] Fiotz commented on #252
i have the same issue, but with left menu

[2018-04-11 07:12] Dhamu143 opened #258 "replace /refresh root node on click on each node ?"
my issue is quite similar to this  https://github.com/valor-software/ng2-tree/issues/75
but response that i am getting is not proper. i have to modify it. so on each click on node API will call and root node (root node/child at any level ) will populate/updated with root node .
so is it possible to populate all node (root as well as child dynamically )  or can  we refresh root node ?

right now wh

[2018-04-11 09:07] #258 closed

[2018-04-11 09:07] #257 closed

[2018-04-11 12:45] horsaco27 commented on #255
Hello!
TreeModelSettings() must be in tree object, like manual says

https://github.com/valor-software/ng2-tree#configure-node-via-treemodelsettings

bind settings in html tag requrire 'settings' was Ng2TreeSettings, check this.

https://github.com/valor-software/ng2-tree#settings

[2018-04-11 12:52] Dhamu143 opened #259 "how can we apply some restrictions while creating some node"
if I need to apply some restrictions to node like if one node is created then in same level we can not create another node having same name.

how can we limit this ?

[2018-04-16 18:53] hotdog1987 commented on #251
@horsaco27 try putting ```nodeController.expand();``` after ```nodeController.setChildren(nuevosHijos);``` and before ```console.log(res);```

[2018-04-16 21:03] horsaco27 commented on #251
Thank you for your answer, but still not working

[2018-04-16 21:03] kody-abe commented on #238
@thiensk I saw the same thing. I suspect it is because you are missing the css styles, just as I was. The root is not visible because of CSS:

https://github.com/valor-software/ng2-tree/blob/b1124cb2798355aed803790b576fed4a571de532/src/styles.css#L174

[2018-04-16 21:16] hotdog1987 commented on #251
are you sure its ```e.node.id``` or ```e.node.node.id```? version i'm using ```ng2-tree@2.0.0-rc.8```

[2018-04-16 21:27] horsaco27 commented on #251
I'm ussing ng2-tree@2.0.0-rc.9 version.

You tree already has children? It seems tree without children can't expand. I trying to set children after click on one father.

Let me check your example...

[2018-04-16 21:32] hotdog1987 commented on #251
all the nodes in the tree that i work with, have at least an empty array as children.

[2018-04-17 06:41] kishorethecoder opened #260 "Need Move option similar to Rename"
Hi Team, I have disabled the root node and want to make the second level child Node as separate Parent Node by moving them outside of the parent.But I am unable to perform the move operation as drop is not allowed outside the Node.It would be great to have move or setParent option to set the root node as parent for the child Node.

[2018-04-17 09:06] kishorethecoder commented on #260
I'm able to change the parent by using the following code

[code]

[2018-04-17 13:39] horsaco27 commented on #251
Thank you for your help.

Your example not working for me. Code here.

[code]
The result

![imagen](https://user-images.githubusercontent.com/20523765/38873049-74673ada-421a-11e8-84c7-290aaca4371e.png)

```e.node.id``` and ```e.node.node.id``` are the same

Every node has this struct:

[code]

[2018-04-17 14:30] d4rkc0de commented on #253
(+1) I think this is very important issue.

[2018-04-17 14:59] wojtuch opened #261 "Turning a leaf into a node"
Hi all!

First of all lemme thank you for this cool lib!

I was wondering about a use case that we need for an app we're working on: turning a leaf into a node. Is there an easy way to do it?
Currently I hacked the solution by using a custom action:

[code]

However this is ugly and requires modifying the `TreeController` API in order to allow setting children even if the tree is a leaf.

Could yo

[2018-04-17 17:50] hotdog1987 commented on #251
I'm confused....```console.log(nodeController.isCollapsed());``` results ```false``` means it is expanded. Isn't that what you were looking for?

[2018-04-17 17:52] hotdog1987 commented on #251
If you don't mind, can you put your code in plunker, or [https://stackblitz.com/edit/angular?](https://stackblitz.com/edit/angular?)

[2018-04-17 18:06] hotdog1987 commented on #256
If I understood your question correctly, you want to collapse the root of the tree. If yes, then:
[code]

If not then, shine more light on your question please

[2018-04-17 18:28] hotdog1987 commented on #256
If you want to collapse the node's immediate parent then:

html:
[code]

component:
[code]

[2018-04-17 18:53] horsaco27 commented on #251
The problem is that ```console.log(nodeController.isCollapsed());``` returns ```false``` but node is not expand.

Here is the example:
https://angular-hazauh.stackblitz.io

I want to expand node whenever children are added.

[2018-04-17 19:09] hotdog1987 commented on #251
I see what the problem is...```children``` is an empty array. (my bad! I should have mentioned clearly before). It needs to be array of objects with empty values. Check this out:

[code]

It is advised to pass ```settings``` as well to make the nodes collapsed by default.

By the way, your ```if``` condition is incorrect. It should be ```e && e.node && e.node.node && e.node.node.id && e.node.node.

[2018-04-17 19:25] horsaco27 commented on #251
That's the idea!

Thak you very much! Now working perfectly!!

Leave this here if anyone needs help!

https://stackblitz.com/edit/angular-hazauh

[2018-04-17 19:25] #251 closed

[2018-04-19 12:15] golddream-y commented on #193
@iamsunny Sorry, my English is very poor. So I write the code directly.
This is just a temporary solution.

### ng2-tree (version:v2.0.0-rc.11)

#### tree.types.ts (add code)
`export enum TreeAction {`
	`Move,`
	`........`
`}`

#### tree.service.ts (line:52)
`public fireNodeRemoved(tree: Tree, action?: TreeAction): void {`
      `this.nodeRemoved$.next(new NodeRemovedEvent(tree, tree.positionInPar

[2018-04-23 10:19] Teenn opened #262 "how to save the tree data to DB"
<tree [tree]="tree" [settings]="disabledCheckboxesSettings" (nodeSelected)="logEvent($event)" (nodeCreated)="handleCreated($event)" #treeComponent></tree>

public tree: TreeModel = {
    value: 'Programming languages by programming paradigm',
    id: 0,
    children: [
      {
        value: 'Object-oriented programming',
        id: 1,
        children: [
          {value: 'Java', id: 2},

[2018-04-27 10:30] LuisMorais opened #263 "Change the structure of the TreeModel"
So, im getting data from the database and it's something like this:

_{
  "nome": "ESTABELECIMENTO A",
  "children": [
   {
    "nome": "Departamento A",
    "children": [
     {
      "nome": "Serviço A1",
      "children": []
     },
     {
      "nome": "Serviço A2",
      "children": []
     }
    ]
   },
   {
    "nome": "Departamento B",
    "children": [
     {
      "nome": "Serviço B1",

[2018-04-29 09:09] khaliltayseerhamad opened #264 "Search on the Root or child"
Dear, I would like to ask if we can apply search input to filter the tree

[2018-04-30 13:47] cdiaz commented on #17
I also have this same problem
 I am using:
"ng2-tree": "2.0.0-rc.11",
"@angular/cli": "~1.7.4"

[2018-05-02 07:46] ujjwalchoudhary0207 opened #265 "Style customization"
Can we add different styling for parent and children nodes?

[2018-05-07 15:03] Spankyed opened #266 "Why isnt expandToParent in doc index"
At beginning of readme there is controller section that index all controller actions. Why isnt expandToParent and few others listed there. And further into the readme, doesnt show how to use oopNodecontroller.[action] just gives you the function name and thats it.

In general the docs are just poorly done.

[2018-05-09 15:36] horsaco27 commented on #263
Try to change de field "nome" to "value". Remeber the struct of ng2-tre.

`interface TreeModel {
  value: string | RenamableNode;
  id: string | number;
  children?: Array<TreeModel>;
  loadChildren?: ChildrenLoadingFunction;
  settings?: TreeModelSettings;
}`

[2018-05-09 20:15] horsaco27 commented on #252
Same issue.

[2018-05-10 09:01] reimago opened #267 "Cannot read property 'New' of undefined"
Hi. Using Angular 6 and building the application for production. When creating the tree it gives this error and the tree is not created. :-(

[2018-05-10 09:36] reimago commented on #267
The error seems to occur in:  tree.js.pre-build-optimizer.js: 858.

  function () {
         return this.node._status === tree_types_1.TreeStatus.New;
     };

[2018-05-14 08:58] kperdomoc commented on #267
Yes it has to do with angular 6 and it's in production mode only. Was about to deploy an app and this blew everything off. Now, I'm not sure if it's worth waiting a fix or going straight after the new native angular material tree widget.

[2018-05-14 09:58] fanshouzhi opened #268 "How to get the selected node？"

[2018-05-14 12:40] reimago commented on #267
I think it's related to the "buildOptimizer". I turned it off in the file "angular.json" (configurations-> production-> buildOptimizer). I have set it to "false" and now it works for me !! I do not know if it is ng2-tree or buildOptimizer problem. While it is fixed I will leave it deactivated.

[2018-05-14 16:36] kperdomoc commented on #267
@reimago thanks I'll give that I try. For now I just downgraded to angular 5 to get things going fast.

[2018-05-14 19:07] akkumar opened #269 "using rng-browser.js: global is not defined (3.1.0)"
Using the latest version of ng2-tree. Getting the same error as described in - https://github.com/kelektiv/node-uuid/issues/252.

(with node v9.11.1 and npm 6.0.1 ).

As per the issue reported - upgrading uuid to 3.2.1 should fix the issue.

[2018-05-15 11:37] Misikir commented on #267
The issue is still there. We can't go back to angular 5. Is there any solution for this with Angular 6 AOT @rychkog , @akkumar

[2018-05-15 15:13] joGrim65 opened #271 "Adding "disable" feature at node level"
Hallo,
I'm working on a tree where, when clicking on a leaf node of a branch, could follow an action to disable another branch.
For me "disable" means: neither check nor selection... and naturally no drag and drop and any change admitted on a node and all its children.

Actually I found no way to do that... do you think could be a request/issue you could add/manage?

I think you could add a "disab

[2018-05-28 10:51] karstensgit commented on #186
sorry, i completely forgot about this: unfortunately i am not able to setup a stackblitz reproduction, because stackblitz wont let me use the newest package version. If i enter the dependency it will always install v1.0.0.
I am new to stackblitz, is there a solution for this?

[2018-05-28 18:34] andrewinkler1 opened #272 "Support rxjs 6"
Since the Angular 6 switch rxjs6, please consider upgrade this package to support rxjs 6 as well.

[2018-05-30 08:35] karstensgit commented on #186
basically you can reproduce this by opening the demo app and adding "width: 150px" to any of the <div class="tree-content"> elements.

[2018-06-01 18:30] guyjstitt commented on #272
This is blocking me from finishing a complete rxjs 6 upgrade. Wanting to remove the compatibility package from our project.

[2018-06-02 08:22] zhoujun494 opened #273 "How to select the first node,default"
How to select the first node when the tree init

[2018-06-07 12:44] CaptainYYH opened #275 "How can  I get checkbox list which checked？"
plz。。。 I search all function but make no use。

[2018-06-08 02:55] CaptainYYH commented on #239
@rychkog  how can I get all of checkbox list？If I click the ckeckbox

[2018-06-08 08:26] N3uR02812 opened #276 "Cannot Expand all in dynamic tree"
Hello,

I try to implement an Expand/Collapse-All function in a dynamic tree.

The functions are looking like this:

`public  expandAll(): void {
      //Initial Root
      const nodeController = this.treeComponent.getController();

      //Do to Leafs
      var currentModel = nodeController.toTreeModel();
      this.doRecursive(currentModel, (contr:TreeController) =>{
        if(contr != null &&

[2018-06-08 10:01] pragdev commented on #272
+1 for this

[2018-06-13 20:11] bbarke opened #277 "Fonts tree shows blue background arrow on EDGE"
When going to the test site on edge (https://valor-software.com/ng2-tree/index.html) the arrows have a blue background.

See gif
![blue-arrow](https://user-images.githubusercontent.com/5325963/41375522-99eb2d9a-6f13-11e8-8d5a-453cdaf74427.gif)

[2018-06-22 13:55] julie-gal opened #278 "Copy tree"
Is there any way to copy selected nodes or the whole tree and paste the copied contents into another tree while keeping the same structure.

[2018-06-27 04:41] jonech opened #279 "missing event from index.ts"
Not sure if this is a bug, but `LoadNextLevelEvent` seems to be missing from `index.ts`. At the moment, there's no way we can import `LoadNextLevelEvent` from the package.

[2018-06-27 09:30] ashish8833 commented on #272
+1 for this

[2018-06-28 19:22] dafik commented on #252
https://github.com/valor-software/ng2-tree/blob/master/src/tree.ts#L371
@rychkog why menu is disabled when static is on ?

[2018-07-02 04:28] Tohid1999 opened #280 "Custom Template"
I'm a beginner at Angular, I want to add a custom template that has a button to remove or rename nodes Instead of the context menu.
how can I do it?

[2018-07-02 11:52] reimago commented on #272
+1 for this

[2018-07-04 13:51] harleenarora opened #281 "upgrade to angular 6 I have get the issues of rxjs 6."
I have update the my angular 5 to angular 6 app. I have get the issue. Error:- ng2-tree/src/draggable/node-draggable.service.d.ts, and node_modules/rxjs/Subject"' has no exported member 'Subject'.

How to solve rxjs 6 error.

[2018-07-04 13:56] bolota commented on #281
@harleenarora

Hi,

You need to install  rxjs-compat:

npm install rxjs-compat

[2018-07-07 11:26] vvalladolidIV opened #282 "It is possible create a <tree> without input [tree]?"
I need to create trees dinamically and I have this question.

For example:

Template:
<tree #treeComponent [settings]=settings></tree>
Controller:
@ViewChild('treeComponent') treeComponent;
 let root = {value: "Value", children: []};
 this.treeComponent.getController().treeModel = root

Something like that would be possible?
Thanks

[2018-07-08 09:59] vvalladolidIV commented on #282
Ok, finally I solved it.

[2018-07-09 22:01] misterSerg commented on #276
You should add `keepNodesInDOM: true` to all of your TreeModels settings

[2018-07-12 09:12] ajitraju commented on #107
@rychkog did you implement this feature ? if not can you help in doing this feature.

[2018-07-12 09:14] ajitraju commented on #107
@rychkog did you implement this feature ? if not can you help in doing this feature. we are struggling to achieve this feature. we want node should accept angular 2/4 components.

[2018-07-12 22:53] BertoMejia commented on #268
Bump

I am also trying to figure out how to get the selected node. Anyone?

[2018-07-17 13:53] amali1025 commented on #17
still can't fix it

[2018-07-18 11:14] SSKhandade commented on #209
With asynchronous loading Tree root node is being hidden. **But child nodes are not loading.** Here are the following settings are done.

<tree [tree]="tree" [settings]="settings"> </tree>

 public settings: Ng2TreeSettings = {
     rootIsVisible: false
   };

When rootIsVisible is true then it loads tree with root

[2018-07-19 17:34] amarianetti opened #285 "Context Menu event"
Is there a way to switch the event that triggers the menu from the right click to be the left click?

[2018-07-20 16:07] anirudh54 opened #286 "change color of node value?"
i need to change the value of node based on its boolean value. I dont see anything in api where i can operate on the node value itself. please help

[2018-07-27 06:16] vishwanathparuvelly opened #287 "need to access expand icon through keyboard"
in present version checkbox is accessing through keyboard not expand/collapse buttons (caroot icons)!

[2018-07-31 13:51] normantimorehl opened #288 "Question only: Select nodes without selecting parents/childrens"
Dear ng2-tree community,

I don't get it. I investigated the demos published in [](https://valor-software.com/ng2-tree/index.html) .

I want to have the behaviour that I can select any node (checkbox selection) without automatic selection of it's parent or childs. For example in demo:

"Directory/File structure" -> select "home"... -> "home" and all subnodes ("firstUser", "Documents", etc) are sel

[2018-08-07 10:23] aasthagrov opened #289 "How to implement search/filter using ng2-tree where all hierarchy is visible???"
I have a tree like this:
   <tree [tree]="tree" #treeComponent
                  (nodeSelected)="clientClick($event)"
                  [settings]="treeSettings">
                <ng-template let-node>
                    <div style="padding-left:-5px">
                        <i class="{{node.icon}}"></i>
                        <span class="node-name" [innerHTML]="node.value"></span>

[2018-08-07 12:33] Hypenate commented on #268
Seems `nodeSelected` is fired when you click the label...

[2018-08-14 13:25] ramesh437 commented on #251
when I created two buttons when I clicked new file button it added a new file and click new folder button added folder also but the problem is when I added a folder and then added child then it's not collapsed and expanded please tell me the solution.here is the code and my problem.
https://stackblitz.com/edit/ng2-tree-create-file-4yrdcm?file=app/hello.component.ts

[2018-08-16 15:19] nfourie-work-profile opened #291 "Reconstruct tree and access controller in same method (controller is null)"
We are having a problem with the `getControllerByNodeId` method on the treeComponent if we have recreated a tree dynamically and then want to access the controller to expand the nodes.

Basically, we do the following in a method
`
// create resultTree as TreeModel
this.tree = resultTree
const controller = this.treeComponent.getControllerByNodeId(lastNodeId)
controller.expandToParent()
`

The probl

[2018-08-16 15:21] cocode32 opened #292 "Reconstruct tree and access controller in same method (controller is null)"
We are having a problem with the getControllerByNodeId method on the treeComponent if we have recreated a tree dynamically and then want to access the controller to expand the nodes.

Basically, we do the following in a method
// create resultTree as TreeModel this.tree = resultTree const controller = this.treeComponent.getControllerByNodeId(lastNodeId) controller.expandToParent()

The problem tha

[2018-08-16 15:21] #292 closed, assigned to nobody

[2018-08-16 15:25] nfourie-work-profile commented on #291
I actually tried the following:

[code]

But the controller is still null. Any ideas?

[2018-08-17 11:18] LuisMorais opened #293 "Disable drag and drop feature"
I know that this issue was already asked before, but is there any way possible to disable the drag and drop functionality? I've tried the 'static' option but nothing has changed...

[2018-08-29 03:13] AjniV opened #294 "How to customize right menu with copy and paste feature"
hi,
I have been using the ng2 tree in my project.I understand the right menu can be customised to add new events.I wanted to know how to use the custom property to implement copy and paste feature to my project. There were no explanation about customization  in the documentation.
Thanks

[2018-08-30 16:16] 7867praveen opened #295 "does not work with angular electron"

[2018-09-03 15:10] ksarfraz opened #296 "Context menu and rename functionality"
Hi,

I want to display just 2 context menu options e.g. Rename and Create only, No delete etc. How i can do that.

Also, I am displaying Folder name + File count in tree view, but when user click on rename i just want to show Folder name without File count. How i can do that?

[2018-09-06 12:45] nfourie-work-profile opened #297 "Customizeable right click menu css"
I would like to request a feature to allow us to be able to customize the right click menu style and positioning of the menu div.

We currently have something like this using the ng2-tree library

![image](https://user-images.githubusercontent.com/20768842/45157930-bdcf3a00-b1e2-11e8-8880-13981fe9b923.png)
 (Notice the hidden area of the menu caused by the hidden overflow of the scrollbar).

The o

[2018-09-06 12:46] nfourie-work-profile commented on #297
Alternative proposal is to have a listener that we can hook into on menu right click, so that we can set the top and left ourselves to positions that we need.

[2018-09-06 13:05] nfourie-work-profile commented on #297
Duplicate of #243 - the completion of #243 should allow us to do what is required.

[2018-09-06 13:05] #297 closed

[2018-09-13 05:34] coolnk2001 opened #298 "Checkbox state not properly populate recursively"
From your demo @ https://valor-software.com/ng2-tree/index.html

I tried at the Directory/File structure session, check the boot->grub->fonts, the status is not recursively populated back to the upper node.

![image](https://user-images.githubusercontent.com/42363102/45468876-9552bd00-b759-11e8-8765-eff37d5280bb.png)

I tried also in my code tuning properties
isCollapsedOnInit
keepNodesInDOM

Both

[2018-09-13 11:40] wmcmick commented on #291
I'm having the same problem, is there a solution to this?

[2018-09-13 11:42] nfourie-work-profile commented on #291
I haven't found a solution to this yet. I think that some changes are required from the library

[2018-09-13 12:08] wmcmick commented on #282
How did you solve it?

[2018-09-14 08:54] RaviGprec opened #299 "ERROR TypeError: Observable_1.Observable.of is not a function"
Hi Everyone,
I'm just trying to getting the below error when I tried implementing the tree using ng2-tree.

![image](https://user-images.githubusercontent.com/35065303/45540246-8dfae480-b829-11e8-8de3-8f19b4bfd0cd.png)

[2018-09-14 11:39] ahmedsaidzahran opened #300 "Load TreeModel Data from API"
I returned Json object same to the sample but not working.
How could load data from API json object

[2018-09-14 12:16] eduscortina commented on #299
Same here...
And I also was facing issues about rxjs (Subject and Observable not in rxjs's exports) that made the build fail when running `ng serve`. Then I installed rxjs-compat and it built, but the same error reported above occurred here.

![image](https://user-images.githubusercontent.com/17992971/45549478-5a569500-b7fe-11e8-803a-ac731cf68006.png)

[2018-09-14 13:10] renatotozzi commented on #288
Hey @normantimorehl and community

I'm facing that same problem, could you or somebody solve that? Please, tell me how to get this behavior (check the selected checkbox whithout auto checking its parent/chidren)

Thanks

[2018-09-14 13:33] renatotozzi commented on #288
Hello @normantimorehl

Yeah, I've made reverse engineering too and get the same conclusion.

But the fact is that I need to fill the id property because I have to use getControllerById function in order to add children in nodes.

This your propose to create a boolean setting "autocheckChildren" was a good idea, but need to be implemmented in component.

It's possible someone to do that?

[2018-09-14 13:51] normantimorehl commented on #288
Hi renatotozzi,

it's quite easy:

Step1: Add property in "tree-internal.component.ts"
`export class TreeInternalComponent implements OnInit, OnChanges, OnDestroy, AfterViewInit {
  @Input() public tree: Tree;

  @Input() public settings: TreeTypes.Ng2TreeSettings;

  @Input() public template: TemplateRef<any>;

  public autocheckChildren = false;
  public isSelected = false;
  public isRightMenuV

[2018-09-14 15:09] ahmedsaidzahran opened #301 "Selected Node CSS"
I want when select node to style it

[2018-09-14 18:48] renatotozzi commented on #288
Wow!!! It works like a charm!!

very thanks @normantimorehl

[2018-09-14 21:57] gschuager commented on #299
I solved this by downgrading rxjs and rxjs-compat to 6.2.1

This seems to be the original issue https://github.com/ReactiveX/rxjs/issues/4070

[2018-09-15 12:16] rahulbabuumg opened #302 "Get this issue: Can't resolve all parameters for NodeDraggableDirective"
I get the below error when I load the ng2-tree latest version. Tried installing and re-installing the package but no luck. Should I try the previous version?

__zone_symbol__error: Error: Can't resolve all parameters for NodeDraggableDirective: ([object Object], [object Object], ?)

[2018-09-16 18:23] RaviGprec opened #303 "Is it possible to change the Treemodel according to my requirement?"
For example,
The current Treemodel is like
![image](https://user-images.githubusercontent.com/35065303/45599568-77ac7e80-ba0b-11e8-8215-544c0509a689.png)

But my requirement is like
![image](https://user-images.githubusercontent.com/35065303/45599576-96ab1080-ba0b-11e8-8ce5-e665e71579b3.png)

I know it's not the right to ask this question but I don't where to ask.(Sorry for this).

Thanks in Advan

[2018-09-17 07:08] praveenhariyala commented on #226
Hi i have same issue like **this.GenericScopeTreeComponent.getControllerByNodeId is not a function**
![image](https://user-images.githubusercontent.com/17614243/45609641-c582b000-ba26-11e8-8247-39c184625bae.png)
can one help me out

[2018-09-17 07:17] praveenhariyala opened #304 "getControllerByNodeId() is not a function"
Hi i have issue like this.GenericScopeTreeComponent.getControllerByNodeId is not a function
![image](https://user-images.githubusercontent.com/17614243/45609871-c831d500-ba27-11e8-856f-925dcf8b41b3.png)

generic-scope-tree.component.ts

import { Component,Input, ElementRef,  ViewChild, AfterViewInit  } from '@angular/core';
import { TreeModule, Ng2TreeSettings, NodeEvent, RenamableNode, TreeModel}

[2018-09-17 07:50] hadirsa opened #305 "RTL support"
How could i enable RTL in this module? Does this module includes this feature?

[2018-09-18 11:46] renatotozzi opened #306 "Checkbox firing onNodeChecked on loding data"
Hi ng2-tree community

I'm facing some issue and I need help.

When I build ng2-tree with checkbox I bring data from server side setting the "checked" property as true deppending the condition.

The problem is that for each node which is default checked, it fires the event onNodeChecked, but I don't want it happens. I want this event is fired just when user click at the checkbox to check it.

Is t

[2018-09-21 08:25] trinhbachu opened #307 "move event don't work correctly"
when i try to move node by drag event, sometimes it works, sometimes it doesn't, why did this happen and how to fix it?

[2018-09-23 13:01] mmirzaeyan opened #308 "how to remove lines between node"
how can i remve like nes between nodes like the demos that exists in project

[2018-09-24 06:47] normantimorehl opened #309 "Not compatible with rxjs 6.3.2 anymore"
Dear support team,

we updated our solution to Angular core 6.1.8 and rxjs 6.3.2 and now we have compilation errors for the ng2-tree component:

So I think an rework is necessary to fix these issue.

Kind regards
Norman Timo

[2018-09-26 16:16] Naikno commented on #309
Hi all,
i have the same issue with rxjs version 6.0.3 and Angular 6.1.8;
any update ?

Thanks

[2018-09-26 16:29] Naikno commented on #309
I fixed it installing  rxjs compat:
npm install  rxjs-compat

[2018-09-26 16:56] normantimorehl commented on #309
Hi Naikno,

rxjs-compat is not a solution for me. This is only if you can't change the ng2-tre or you are too lazy to do the necessary changes.

Finally the dev-team is too slow for our project and with these issues so I embedded the source code in my project and made the necessary changes alone.

Mainly you have to change the import clauses for rxjs operators. And on two source code lines you hav

[2018-09-27 00:09] Naikno commented on #184
any news about this ?

thanks

[2018-09-27 11:45] vinod2218 opened #310 "there isposbility for nextNodeSibling & PreviousNodeSibling in ng2-tree?"

[2018-09-27 16:44] Naikno commented on #184
i tried solution proposed by @TKul6, it works only for first level of tree ..the other nodes need one more click for loading, moreover adding the control on !!this._children requires the modification of the library and it is not a solution.
Does anyone have a solution for this issue??

[2018-09-28 13:09] ZhidkovGV opened #311 "Bug: startRenamig method"
`  nodeRenamed(event: NodeRenamedEvent): void {
    if(!someValidationNotPassed(event.newValue)) {
      const oopNodeController = this.treeComponent.getControllerByNodeId(event.node.id);
      oopNodeController.startRenaming()
    }
`
When you try to use startRenamig() method on some node that was renamed in nodeRenemed event it doesn't work. It seems like this happens because you remove mark bei

[2018-09-28 13:29] ZhidkovGV commented on #311
If you call this method asynchronously everything works fine. But I guess its not expected behavior

[2018-10-01 09:04] NahidaHK commented on #17
Hi .. You need to add this in your app.module.ts

import { TreeModule } from 'ng2-tree';

imports: [ ... , TreeModule  , ...]

Hope that helps You.

[2018-10-04 20:30] hotdog1987 opened #312 "After renaming a node, getControllerByNodeId() of that node comes back null"
I have a tree with configuration:

[code]

Now, when the user right clicks and chooses to rename, lets say node A => Test, I have to update the id of that node as well and I do that by the following code:
[code]

This works fine. But, when I choose to other operations that involve accessing the nodeInstance:
[code]
I see that ```oopNodeController``` is always null.

Upon further digging into this,

[2018-10-05 15:22] MannyDev opened #313 "How to disable drag & drop"
Hello there, the app is working alright except for one issue, which I'll describe at the end cause it ain't the question.

I want to disable the drag & drop utility, therefore disabling the move folder/file functionality, so my clients've got to delete and reupload if they make a mistake. So far I've found these two lines at tree.module.js which  might be absolutely related, **but I may be missing

[2018-10-05 15:34] akshaygolash commented on #208
@rychkog Is there any update when this will be fixed?

[2018-10-07 19:52] andrewinkler1 commented on #272
what is the state of that??

[2018-10-09 19:30] akshaygolash commented on #288
@renatotozzi @normantimorehl  Thank you for the solution! Is there any way where we can override this behavior via the controller or via settings?

Any help is appreciated! :)

[2018-10-09 19:54] lewislacook commented on #17
I'm also having this issue, using
"@angular/cli": "1.7.4",

"ng2-tree": "^2.0.0-rc.11"

[2018-10-10 01:42] renatotozzi commented on #288
Hi @rychkog

I used it by that way. I customized the component so that ir only works selecting clicked checkbox, never select parents and children, so I don't need to configure via settings. But I would appreciate it too, because I could use the original component, without customizaton.

[2018-10-10 06:51] normantimorehl commented on #288
@akshaygolash @renatotozzi
The settings are part of the source code, if you want to change this behaviour via settings you have to customize the component too, it's not possible to have this behaviour with the original component.

But the changes which are necessary to have the possibility to set the behaviour via settings are not much.

All changes described above are necessary (the _property_ an

[2018-10-10 16:04] akshaygolash commented on #288
@renatotozzi , @normantimorehl , Thanks alot for your response. I think it would be best to create a PR and get it in the original component so everyone can benefit from it. I do see this as a very common use case.

Let me know what you guys think?

[2018-10-10 17:37] renatotozzi commented on #288
Hello @akshaygolash

I think so. How I said before, I'm using a custom version, but it would be better if I could use the original component, downloaded from npm.

However, I would like to remember that is important not auto check chidren and also parents. In my case, I want to check ONLY the clicked checkbox.

[2018-10-10 17:56] akshaygolash commented on #288
@renatotozzi , That makes sense because you cannot expect a hybrid behavior from a tree. Either we have autoCheck both ways or make all nodes independent.

[2018-10-10 18:28] normantimorehl commented on #288
Hey guys, youre all right, better is to include the enhancement in the main source code. But be realistic, there are much more important and critical issues like that: [Issue 309: Not compatible with latest rjx](https://github.com/valor-software/ng2-tree/issues/309)

And the insight tab shows the frequency: only 22 commits the whole year 2018. The last one 2018-04.
And if you are realistic: this p

[2018-10-10 18:56] akshaygolash commented on #288
@normantimorehl @renatotozzi I am afraid that you may be right. I don't see any commits for past 6 months.

@rychkog  Is there any plan to support this project?

[2018-10-23 06:55] zhiyuanbuqiID opened #314 "Stop moving node"
Now I don't want moving node,  how can i do

[2018-10-24 03:24] xdw898618984 opened #315 "Facing Exactly the same problem, in Angular2, can someone help in fixing it."
Can't bind to 'tree' since it isn't a known property of 'tree'. ("
    <tree [ERROR ->][tree]="tree"></tree>
    "): TreeViewComponent@1:10
'tree' is not a known element:

_Originally posted by @ghost in https://github.com/valor-software/ng2-tree/issues/13#issuecomment-259887947_

[2018-10-24 03:28] xdw898618984 commented on #13
Have you solved the problem?I'm confused!

[2018-11-01 16:12] lfms512 commented on #205
Don't use "getControllerByNodeId()", use "getController()"

[2018-11-06 18:04] medmedchiheb opened #316 "Error when implementing ng2-tree Observable"
i encounter  a probelm when i integrate ng2-tree
the probelm is "ERROR TypeError: Observable_1.Observable.of is not a function"
as i can see the rxjs of this library should update to 6 to support new angular 6

[2018-11-09 05:37] acejiyu commented on #316
I also had the same problems.
Using the latest version, I tried to change the `var Observable_1 = require("rxjs/Observable")` to `var Observable_1 = require("rxjs")`,the problem can be solved.

[2018-11-09 10:09] medmedchiheb commented on #316
yes and the authors of this library does not respond for a long time,
i recommend everyone to take a look at this https://github.com/cybercomet/ngx-nestable

[2018-11-12 03:56] netsesame2 commented on #281
@bolota it is resolved by your help.

[2018-11-19 18:33] seanmcilvenna opened #317 "Disable moving but allow custom menu"
I need to be able to disable the user's ability to move files/folders, while allowing the user to right light and see a custom context menu so they can add a new folder.

I can disable moving by using the "static" option, but in order to show the custom right-click context menu, "static" has to be true.

This could be fixed by simply ignoring "static" option with respect to rightMenu/leftMenu opti

[2018-11-26 06:17] lidaguang1989 opened #318 "How to keep the tree expanded status?"
![image](https://user-images.githubusercontent.com/17891954/48995874-bb96cf00-f184-11e8-9e28-38eb8d049450.png)

here is the html code:
`                    <tree [tree]="filterTreeViewOptions"
                          [settings]="{rootIsVisible: true}"
                          (nodeSelected)="handleFilterSelected($event)"></tree>`

here is the filterTreeViewOptions  object:
`let filterTreeViewOp

[2018-11-29 11:30] rajkumarm-iprogrammer commented on #299
You need to follow steps from issue **#4020**
https://github.com/ReactiveX/rxjs/issues/**4070**

[2018-12-06 23:11] akshaygolash commented on #193
Does anybody have a solution without changing the current library implementation?

[2018-12-07 10:07] Taher92 opened #319 "Can't import TreeModule in Angular 7"
Hi,

I can't import TreeModule in my Angular 7 project!!
Once I import TreeModule in App.Moule
`_import { TreeModule } from 'ng2-tree';`

I get following errors:

`ERROR in ./node_modules/ng2-tree/src/tree.js
Module not found: Error: Can't resolve 'rxjs/Observable' in 'C:\Users\Hendawi\Desktop\testProj\node_modules\ng2-tree\src'
ERROR in ./node_modules/ng2-tree/src/tree.service.js
Module not found